<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> 作品展示 </title>
    <link href="../../static/assets/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Custom Theme files -->
    <link href="../../static/assets/css/shouyestyle.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" type="text/css" href="../../static/assets/css/magnific-popup.css">
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Snow Skating Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
		Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design"
    />

    <!--//End-top-nav-script-->
</head>
<body style="background-color: #FFFDF4">
<!-- start-header-->
<div class="about-section">
    <div class="container">
        <div class="about-grids">
            <div class="col-md-12">
                <p id="con-box1"></p>
                <div class="con-box pr">

                    <div class="con-box-tit1 pa">作品展示</div>
                    <div class="con-txt">
                        <div class="section group">
                            <div class="col-md-4 gallery-box1" th:each="project,iterStat: ${projects}"
                                 th:object="${project}" th:id="${iterStat.count}">
                                <div> <p>
                                    <a th:href="|/display/project*{ProjectID}display.html|" data-lightbox-gallery="gallery1"
                                       > <span class="rollover1"> </span></a>
                                </p></div>
                                <a th:href="|/display/project*{ProjectID}display.html|">
                                    <img th:src="|/upload/*{StudentID1}/ProjectDisplayMap/ProjectDisplayMap0.png|"
                                         width="270px" height="194px" th:title="*{ProjectName}" /></a>
                                <h4 th:text="*{ProjectName}"></h4>
                                <h5>创作者： <lable th:text="*{ProjectTeamName}"></lable></h5>
                                <p th:text="*{ProjectDescription}"></p>
                            </div>

                            <div class="clearfix">
                            </div>
                            <div class="page-icon">
                                <table>
                                    <tr>
                                        <td><a th:href="@{/zhanshi?pageNum=0}">&laquo;</a></td>
                                        <td th:switch="${pageNum}">
                                            <p th:case="0"><a th:href="@{/zhanshi?pageNum=0}">上一页</a></p>
                                            <p th:case="*"><a th:href="@{/zhanshi(pageNum=${pageNum-1})}">上一页</a></p>
                                        </td>
                                        <td th:if="${pageNum-2>=0}">
                                            <p><a th:text="${pageNum-1}" th:href="@{/zhanshi(pageNum=${pageNum-2})}">?</a></p>
                                        </td>
                                        <td th:if="${pageNum-1>=0}">
                                            <p><a th:text="${pageNum}" th:href="@{/zhanshi(pageNum=${pageNum-1})}">?</a></p>
                                        </td>
                                        <td>
                                            <p> <a style="color: #b37eff;background-color: #b6ffec" th:text="${pageNum+1}" th:href="@{/zhanshi(pageNum=${pageNum})}">?</a></p>
                                        </td>
                                        <td th:if="${pageNum+1<=totalPages}">
                                            <p><a th:text="${pageNum+2}" th:href="@{/zhanshi(pageNum=${pageNum+1})}">?</a></p>
                                        </td>
                                        <td th:if="${pageNum+2<=totalPages}">
                                            <p><a th:text="${pageNum+3}" th:href="@{/zhanshi(pageNum=${pageNum+2})}">?</a></p>
                                        </td>
                                        <td th:switch="${pageNum}">
                                            <p th:case="${totalPages}"><a th:href="@{/zhanshi(pageNum=${totalPages})}">下一页</a></p>
                                            <p th:case="*"><a th:href="@{/zhanshi(pageNum=${pageNum+1})}">下一页</a></p>
                                        </td>
                                        <td><a th:href="@{/zhanshi(pageNum=${totalPages})}">&raquo;</a></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- about-us -->
<!--//End-About-->

<!--//text-slider-->
<!--/start-Events-->

<!--/start-footer-->
<div style="background-color: #B18869 " class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="col-md-3 footer-grid-copy-right">
                <div class="logo-2">
                    <a href="index"><img src="../../static/assets/images/logo2.png" alt=""></a>
                </div>

            </div>
            <div class="col-md-3 footer-grid">
                <h3 style="color: #d4fffa">快捷入口</h3>
                <ul class="bottom-nav">
                    <li class="active"><a  style="color: #d4fffa" href="index">主页</a></li>
                    <li><a  style="color: #d4fffa" href="about"> 关于大赛  </a></li>
                    <li><a style="color: #d4fffa" href="ziliao"> Mixly软件下载</a></li>
                    <li><a style="color: #d4fffa" href="chuangke"> 创客空间</a></li>
                    <li><a style="color: #d4fffa" href="login">注册/登录</a></li>
                    <div class="clearfix"> </div>
                </ul>
            </div>


        </div>

        <div class="col-md-3 footer-grid">
            <h3 style="color: #eafff8">&nbsp;&nbsp;&nbsp;&nbsp;组织单位</h3>
            <ul class="soc_icons2">
                <li><a href="#"><span style="color: #d4fffa">四川省青少年科技活动中心</span></a></li>
                <li><a href="#"><span style="color: #d4fffa">四川省太极熊科技有限公司</span></a></li>

            </ul>

        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!--//End-footer-->


<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- start-smoth-scrolling-->
<script type="text/javascript" src="../../static/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="../../static/assets/js/jquery-1.11.1.js"></script>
<script type="text/javascript" src="../../static/assets/js/move-top.js"></script>
<script type="text/javascript" src="../../static/assets/js/easing.js"></script>

<script type="text/javascript" src="../../static/assets/js/modernizr.custom.53451.js"></script>
<script type="text/javascript" src="../../static/assets/js/jquery.wmuSlider.js"></script>
<script type="text/javascript" src="../../static/assets/js/jquery.pagination-1.2.7.js"></script>

<script>
    $('.example1').wmuSlider();
</script>

<script type="text/javascript">
    $(document).ready(function() {
        /*
        var defaults = {
              containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
         };
        */

        $().UItoTop({ easingType: 'easeOutQuart' });

    });
</script>
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $(".scroll").click(function(event){
            event.preventDefault();
            $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
        });
    });
</script>
<!--start-smoth-scrolling-->
<!--webfonts-->

<!--//webfonts-->
<!--start-top-nav-script-->
<script>
    $(function() {
        var pull 		= $('#pull');
        menu 		= $('nav ul');
        menuHeight	= menu.height();
        $(pull).on('click', function(e) {
            e.preventDefault();
            menu.slideToggle();
        });
        $(window).resize(function(){
            var w = $(window).width();
            if(w > 320 && menu.is(':hidden')) {
                menu.removeAttr('style');
            }
        });
    });
</script>
<script type="text/javascript">
    $('.main-search').hide();
    $('button').click(function (){
            $('.main-search').show();
            $('.main-search text').focus();
        }
    );
    $('.close').click(function(){
        $('.main-search').hide();
    });
</script>

</body>
</html>