<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>作品提交</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="../../static/assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../static/assets/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="../../static/assets/css/tijiaoform-elements.css">
        <link rel="stylesheet" href="../../static/assets/css/tijiaostyle.css">
        <link rel="stylesheet" type="text/css" href="../../static/assets/css/bootstrap-directional-buttons.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="../../static/assets/ico/favicon.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../../static/assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../../static/assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../../static/assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="../../static/assets/ico/apple-touch-icon-57-precomposed.png">
        <script type="text/javascript">


        </script>
        <style type="text/css">
.btn-circle {  
  width: 30px;  
  height: 30px;  
  text-align: center;  
  padding: 6px 0;  
  font-size: 12px;  
  line-height: 1.428571429;  
  border-radius: 15px;  
}  
.btn-circle.btn-lg {  
  width: 50px;  
  height: 50px;  
  padding: 10px 16px;  
  font-size: 18px;  
  line-height: 1.33;  
  border-radius: 25px;  
}  
.btn-circle.btn-xl {  
  width: 70px;  
  height: 70px;  
  padding: 10px 16px;  
  font-size: 24px;  
  line-height: 1.33;  
  border-radius: 35px;  
}  
        </style>


    </head>

    <body>


    


  
  



        <!-- Top content -->
        <div class="top-content">
        	
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1><strong>作品提交</strong></h1>
                            <div class="description">
                            	<p>
	                            	请按提示要求填写个人信息和作品设计信息
                            	</p>
                            </div>
                        </div>
                    </div>

                    <br>
<br>

<a href="xinxi1">
<button type="button" style="background-color:#33CCFF" class="btn btn-default btn-circle btn-xl">1</button></a><nobr style="font-size: 50px;vertical-align: middle ">→</nobr> 
<a href="xinxi2">
<button type="button" style="background-color:#33CCFF" class="btn btn-primary btn-circle btn-xl">2</button></a><nobr style="font-size: 50px;vertical-align: middle ">→</nobr>  
<a href="xinxi3">
<button type="button" style="background-color:#33CCFF" class="btn btn-success btn-circle btn-xl">3</button></a> <nobr style="font-size: 50px;vertical-align: middle ">→</nobr>  
<a href="xinxi4">
<button type="button" style="background-color:#33CCFF" class="btn btn-info btn-circle btn-xl">4</button></a><nobr style="font-size: 50px;vertical-align: middle ">→</nobr>
<a href="xinxi5">
<button type="button" style="background-color:#33CCFF" class="btn btn-info btn-circle btn-xl">5</button></a><nobr style="font-size: 50px;vertical-align: middle ">→</nobr>
<a href="xinxi6">
<button type="button" style="background-color:#33CCFF" class="btn btn-info btn-circle btn-xl">6</button></a> 
<br>
<br>
                    <div class="row" id="1">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                        	<div class="form-top">
                        		<div class="form-top-left">
                        			<h3 >一、个人信息填写</h3>
                            		<p></p>
                        		</div>
                        		<div class="form-top-right">
                        			<i class="fa fa-key"></i>
                        		</div>
                            </div>
                            <div class="form-bottom">
			                    <form role="form" action="" method="post" class="login-form">
			                    	<div class="form-group">
			                    		
			                        	<p>学生姓名:</p>
                                        <input type="text" name="form-username" placeholder="学生姓名..." class="form-username form-control" id="form-username">
			                        </div>
                                    <div class="form-group">
                                        
                                        <p>学生身份证号码:</p>
                                        <input type="text" name="form-username" placeholder="学生身份证号码..." class="form-username form-control" id="form-username">
                                    </div>
                                    <div class="form-group">
                                        <p>性别:</p>
                                        <input type="text" name="form-username" placeholder="性别..." class="form-username form-control" id="form-username">
                                    </div>
                                    <div class="form-group">
                                        <p>年级:</p>
                                        <input type="text" name="form-username" placeholder="年级..." class="form-username form-control" id="form-username">
                                    </div>
                                    <div class="form-group">
                                        <p>学校名称:</p>
                                        <input type="text" name="form-username" placeholder="学校名称..." class="form-username form-control" id="form-username">
                                    </div>
                                    <div class="form-group">
                                        <p>联系方式(手机号码或邮箱地址):</p>
                                        <input type="text" name="form-username" placeholder="学校名称..." class="form-username form-control" id="form-username">
                                    </div>
			                        
			                        <button type="submit" class="btn">确认</button>
			                    </form>
		                    </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            
        </div>
        


        <!-- Javascript -->
        <script src="../../static/assets/js/jquery-1.11.1.min.js"></script>
        <script src="../../static/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="../../static/assets/js/jquery.backstretch.min.js"></script>
        <script src="../../static/assets/js/scripts.js"></script>
        
        <!--[if lt IE 10]>
        <script src="../../static/assets/js/placeholder.js"></script>
        <![endif]-->

    </body>

</html>