<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>作品提交</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../../static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../static/assets/css/tijiaoform-elements.css">
    <link rel="stylesheet" href="../../static/assets/css/tijiaostyle.css">
    <link rel="stylesheet" type="text/css" href="../../static/assets/css/bootstrap-directional-buttons.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <![endif]-->

    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="../../static/assets/ico/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="../../static/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="../../static/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
          href="../../static/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../../static/assets/ico/apple-touch-icon-57-precomposed.png">

</head>

<body>

<br>
<a href="index">
    <button type="button" style="background-color:#33CCFF" class="btn btn-default btn-circle btn-lg"><br><strong style=""> <<返回首页 </strong><br><br><br><br><br></button></a><nobr style="font-size: 20px">→</nobr>
<a href="xinxi1">
    <button type="button" style="" class="btn btn-default btn-circle btn-x2"><strong style="">一、团队与项目信息</strong><br><br><br><br><br>
    </button>
</a>
<nobr style="font-size: 50px;vertical-align: middle ">→</nobr>
<a href="xinxi2">
    <button type="button" style="" class="btn btn-primary btn-circle btn-x2">
        <strong>二、项目说明</strong><br><br>1.项目作品展示图<br>2.思维导图<br>3.作品说明<br>4.比赛心得
    </button>
</a>
<nobr style="font-size: 50px;vertical-align: middle ">→</nobr>
<a href="xinxi3">
    <button type="button" style="" class="btn btn-success btn-circle btn-x2">
        <strong>三、作品程序说明</strong><br><br>1.硬件电路图<br>2.程序流程图<br>3.代码模块图<br></button>
</a>
<nobr style="font-size: 50px;vertical-align: middle ">→</nobr>
<a href="xinxi4">
    <button type="button" style="" class="btn btn-info btn-circle btn-x2"><strong>四、结构说明</strong><br><br>1.作品结构图<br>2.使用器材说明<br><br>
    </button>
</a>
<nobr style="font-size: 50px;vertical-align: middle ">→</nobr>
<a href="xinxi5">
    <button type="button" style="background-color:#2ee9ff" class="btn btn-info btn-circle btn-x2">
        <strong>五、作品演示视频</strong><br><br><br><br><br></button>
</a>
<nobr style="font-size: 50px;vertical-align: middle ">→</nobr>
<a href="xinxi6">
    <button type="button" style="background-color:#33CCFF" class="btn btn-info btn-circle btn-x2">
        <strong>六、PDF文档提交</strong><br><br>1.打印pdf文档<br>2.提交pdf文档<br><br></button>
</a>

<!-- Top content -->
<div class="top-content">

    <div style="padding: 100px 0 50px 0" class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text">
                    <h1><strong>五、作品演示视频</strong></h1>
                    <div class="description">
                        <p>
                            (请制作作品演示视频，需要有完整的功能展示)
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-bottom">
                <p>
                    <button class="btn" style="width: 1090px"
                            onclick="openShutManager(this,'box',false,'点此收起案例视频演示','点此展开案例视频演示')">点此展开案例视频演示
                    </button>

                </p>
            </div>

            <div id="box" class="form-bottom" style="display: none">
                <p>演示视频链接:</p>
                <strong><</strong><strong>iframe height=498 width=510 src='http://player.youku.com/embed/XNDE0MzUwOTQwMA==' frameborder=0 'allowfullscreen'></iframe></strong><br>
                <iframe height=650px width=1090px src='http://player.youku.com/embed/XNDE0MzUwOTQwMA==' frameborder=0 allowfullscreen="ture"></iframe>
            </div>
            <div class="form-bottom">
                <p>
                    <button class="btn" style="width: 1090px"
                            onclick="openShutManager(this,'box1',false,'点此收起视频地址获取教程','点此展开视频地址获取教程')">点此展开视频地址获取教程
                    </button>
                </p>
            </div>
            <div id="box1" class="form-bottom" style="display: none">
                <div class="form-bottom">
                    <h3 style="text-align: center">视频链接获取教程</h3>
                    <p style="text-align: center">(建议使用“优酷”视频软件，以下为优酷软件使用教程，其他视频软件类似)</p>
                    <p style="text-align: center"><strong>第一步:</strong>在网页端打开优酷网站，注册并登录优酷账号，登录后主页如下图所示:</p>
                    <img src="../../static/assets/Uploads/anli1.png">
                    <br>
                    <br>
                    <br>
                    <p style="text-align: center"><strong>第二步:</strong>鼠标移至右上角“上传”按钮，然后选择点击“上传视频”按钮，如下图所示:</p>
                    <img src="../../static/assets/Uploads/anli2.png">
                    <br>
                    <br>
                    <br>
                    <p style="text-align: center"><strong>第三步:</strong>鼠标点击“选择视频”按钮或将视频拖放到此处，上传所设计的演示视频，如下图所示:</p>
                    <img src="../../static/assets/Uploads/anli3.png">
                    <br>
                    <br>
                    <br>
                    <p style="text-align: center"><strong>第四步:</strong>修改演示视频标题，点击“保存发布”按钮，如下图所示:</p>
                    <img src="../../static/assets/Uploads/anli4.png">
                    <br>
                    <br>
                    <br>
                    <p style="text-align: center"><strong>第五步:</strong>耐心等待转码与审核，可能需要较长时间，如下图所示:</p>
                    <img src="../../static/assets/Uploads/anli5.png">
                    <br>
                    <br>
                    <br>
                    <p style="text-align: center"><strong>第六步:</strong>上传成功后，在个人中心会看到上传视频，点击视频会进入到播放页面，如下图所示:</p>
                    <img src="../../static/assets/Uploads/anli6.png">
                    <br>
                    <br>
                    <br>
                    <p style="text-align: center"><strong>第七步:</strong>将鼠标移至左下角“分享按钮”，选择点击“复制通用代码”按钮，如下图所示:</p>
                    <img width="1090px" src="../../static/assets/Uploads/anli7.png">
                    <br>
                    <br>
                    <br>
                    <p style="text-align: center"><strong>第八步:</strong>将复制后的通用代码粘贴至页面提交文本框(选择文本框后，点击鼠标右键，选择粘贴)并确认提交，如下图所示:</p>
                    <img src="../../static/assets/Uploads/anli8.png">
                </div>
            </div>

        </div>
        <div class="row" id="4">
            <div class="col-sm-6 col-sm-offset-3 form-box" style="">
                <div class="form-top">
                    <div class="form-top-left">
                        <h3>五、作品演示视频</h3>
                        <p>(请仔细阅读视频链接获取教程，将制作视频上传到优酷或者其他视频软件，并在下方给出演示视频的链接,如正确的链接格式为:</p>
                        <strong><</strong><strong>iframe height=498 width=510 src='http://player.youku.com/embed/XNDE0MzUwOTQwMA==' frameborder=0 'allowfullscreen'></iframe></strong>
                        <br>或:<br><strong><</strong><strong>iframe frameborder="0" src="https://v.qq.com/txp/iframe/player.html?vid=h0861668dr2" allowFullScreen="true"></iframe></strong>
                        <br>
                        <p>提交视频地址后请点击"查看提交视频"按钮查看视频地址是否提交正确</p>
                    </div>

                    <div class="form-top-right">
                        <img src="../../static/assets/images/bi.jpg">
                    </div>
                </div>
                <div class="form-bottom">
                    <form class="login-form" th:action="@{/projectUpdateText}" method="post" th:object="${project}">
                        <div class="form-group" >
                            <input type="text" name="VideoURL" placeholder="视频链接..."
                                   class="form-username form-control" id="VideoURL"
                                   th:value="*{VideoURL}">
                        </div>
                        <input type="text" name="pagepath" style="display: none" th:value="xinxi5"/>
                        <input type="text" name="formname" style="display: none" th:value="VideoURL"/>
                        <button type="submit" id="form1" class="btn">确认提交</button>
                        <button type="button" id="form1modify" class="btn modify">更新链接</button>
                        <br>
                        <br>
                        <a href="#box3">
                            <button type="button" id="sss" onclick="textChange(this);" class="btn">查看提交视频</button>
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="box3" class="container" style="display: none">
        <div class="form-bottom">
            <h3 style="text-align: center">提交作品展示</h3>
            <p style="text-align: center">(如果视频未正常显示，可能为链接填写错误，或浏览器不支持Flash播放)</p>
        </div>
        <div id="box2" class="form-bottom">
        </div>

    </div>

    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 form-box" style="">
            <div class="form-bottom">
                <form class="login-form" method="post">
                    <a href="xinxi4"><button type="button" class="btn">返回上一步</button></a>
                </form>
                <br>
                <form class="login-form" method="post">
                    <a href="xinxi6"><button type="button" class="btn">下一步</button></a>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Javascript -->
<script src="../../static/assets/js/jquery-1.11.1.min.js"></script>
<script src="../../static/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="../../static/assets/js/jquery.backstretch.min.js"></script>
<script src="../../static/assets/js/scripts.js"></script>
<script src="../../static/assets/js/html5shiv.js"></script>
<script src="../../static/assets/js/respond.min.js"></script>
<script src="../../static/assets/js/videoplus.js"></script>
<script>
    $(function () {
        var VideoURL= document.getElementById("VideoURL").value;
        var str1="src='";
        var str2="src=\"";
        var i1=VideoURL.indexOf(str1);
        var i2=VideoURL.indexOf(str2);
        if(i1!=-1){
            // alert(i1);
            VideoURL=VideoURL.substring(i1+5);
            // alert(VideoURL);
            i1=VideoURL.indexOf("'");
            // alert(i1);
            VideoURL=VideoURL.substring(0,i1);
             //alert(VideoURL);

        }
        if(i2!=-1){
            // alert(i2);
            VideoURL=VideoURL.substring(i2+5);
            //alert(VideoURL);
            i2=VideoURL.indexOf('"');
            // alert(i2);
            VideoURL=VideoURL.substring(0,i2);
            //alert(VideoURL);

        }
        var div = document.getElementById('box2');
        div.innerHTML = '<iframe\n' +
            '                        src=\''+VideoURL+'\'\n' +
            '                        allowFullScreen=\'true\'\n' +
            '                        width=\'1090px\'\n' +
            '                        height=\'650px\'\n' +
            '                        align=\'middle\'\n' +
            '                        frameborder=\'0\'\n' +
            '                </iframe>'
    });
    $(document).ready(function () {
        $("#sss").click(function () {
            $("#box3").show();
        });
    });

</script>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function () {
        var videourl = /*[[${project.VideoURL}]]*/ null;
        var designdocument=/*[[${project.DesignDocument}]]*/ null;

        if(designdocument!==null){
            $(".modify").attr("disabled",true);
        }

        if (videourl !== null) {
            $("#VideoURL").attr("disabled", true);
            $("#form1").hide();
            $("#form1modify").show();
            $("#sss").show();
        } else {
            $("#form1modify").hide();
            $("#sss").hide();
        }
    });
    $("#form1modify").click(function () {
        $("#VideoURL").attr("disabled", false);
        $("#form1").show();
        $("#form1modify").hide();
        $("#sss").hide();
        $("#box3").hide();
    });

</script>
<![endif]-->

</body>

</html>