<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>作品提交</title>

        <!-- CSS -->
        <link rel="stylesheet" href="../../static/assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../static/assets/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="../../static/assets/css/tijiaoform-elements.css">
        <link rel="stylesheet" href="../../static/assets/css/tijiaostyle.css">
        <link rel="stylesheet" type="text/css" href="../../static/assets/css/bootstrap-directional-buttons.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="../../static/assets/ico/favicon.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../../static/assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../../static/assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../../static/assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="../../static/assets/ico/apple-touch-icon-57-precomposed.png">
<style type="text/css">

</style>
    </head>

    <body>

    <br>
    <a href="xinxi1">
        <button type="button" style="" class="btn btn-default btn-circle btn-x2"><strong style="">一、团队与项目信息</strong><br><br><br><br><br></button></a><nobr style="font-size: 50px;vertical-align: middle ">→</nobr>
    <a href="xinxi2">
        <button type="button" style="" class="btn btn-primary btn-circle btn-x2"><strong>二、项目说明</strong><br><br>1.项目作品展示图<br>2.思维导图<br>3.作品说明<br>4.比赛心得</button></a><nobr style="font-size: 50px;vertical-align: middle ">→</nobr>
    <a href="xinxi3">
        <button type="button" style="" class="btn btn-success btn-circle btn-x2"><strong>三、作品程序说明</strong><br><br>1.硬件电路图<br>2.程序流程图<br>3.代码模块图<br></button></a> <nobr style="font-size: 50px;vertical-align: middle ">→</nobr>
    <a href="xinxi4">
        <button type="button" style="" class="btn btn-info btn-circle btn-x2"><strong>四、结构说明</strong><br><br>1.作品结构图<br>2.使用器材说明<br><br></button></a><nobr style="font-size: 50px;vertical-align: middle ">→</nobr>
    <a href="xinxi5">
        <button type="button" style="" class="btn btn-info btn-circle btn-x2"><strong>五、作品演示视频</strong><br><br><br><br><br></button></a><nobr style="font-size: 50px;vertical-align: middle ">→</nobr>
    <a href="xinxi6">
        <button type="button" style="background-color:#2ee9ff" class="btn btn-info btn-circle btn-x2"><strong>六、PDF文档提交</strong><br><br>1.打印pdf文档<br>2.提交pdf文档<br><br></button></a>

        <!-- Top content -->
        <div class="top-content">
            
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1><strong>六、PDF文档提交</strong></h1>
                            <div class="description">
                                <p>
                                    (将所有设计信息整合为pdf文档，确认无误后上传提交，提交前需仔细阅读参赛协议并接受参赛协议)
                                </p>
                            </div>
                        </div>
                    </div>



                </div>

                <div class="row" id="3">
                    <div class="col-sm-6 col-sm-offset-3 form-box" style="" >
                        <div class="form-top">
                            <h3 style="text-align: center">导出PDF设计文档并保存在本地</h3>

                        </div>
                        <div class="form-bottom">
                            <form action="liucheng.php" method="post" enctype="multipart/form-data">
                                <button class="btn">导出PDF设计文档</button>
                            </form>

                        </div>
                    </div>
                </div>

                <div class="row" id="3">
                    <div class="col-sm-6 col-sm-offset-3 form-box" style="" >
                        <div class="form-top">

                            <h3 style="text-align: center">参赛协议</h3>
                            <p>1.未成年活动选手请在监护人的陪同下阅读本须知，主办方在依据法律规定或本须知约定要求活动选手承担责任时，有权向活动选手的监护人追偿。
                                <br>2.活动选手一经确认报名、提交作品，即视为其本人及监护人充分理解本须知内容及所有活动细则，并承诺接受本须知及细则的约束。
                                <br>3.小学、初中和高中在校生均可参加本次活动，每件作品参赛作者为一个团体，一个团体人数限制为3人以内（包括3人）、指导教师1人，每个团队在海选阶段限报一件创客作品，在决赛阶段可进行本团队作品的完善。同一指导教师可以同时指导多名学生。
                                <br>4.请在线下通过学校组织进行创作，完成后以团队为单位将作品在投稿时间内在平台内进行投稿，填写报名书与申报表等所有相关信息表项，并发布作品。
                                <br>5.活动选手保证所提交的作品和资料均属真实有效，符合活动要求。提交的作品和资料一旦有误，造成的任何后果均由活动选手自行承担。
                                <br>6.活动选手提交的作品均不得涉及暴力、色情、非法宗教宣传等与国家相关法律、法规相抵触的内容。如遇此类作品，主办方有权自行决定对其采取不予评审、不予发表或删除等措施，情节严重者将提交司法机关处理。
                                <br>7.作品必须为作者原创，无版权争议，未曾参与其它竞赛活动或在公开媒体平台展播、展示。若发现涉嫌抄袭或侵犯他人著作权的行为，一律取消评奖资格。如涉及作品原创问题的版权纠纷，由申报者承担责任。
                                <br>8.参赛选手提交作品的著作权归作者所有，使用权由作者和主办单位共享。主办单位对获奖作品有宣传和展示的权利。
                                <br>9.参赛选手确认报名后，需提交作品链接（须包括设计文档和作品视频），必须正确填写选手真实姓名、地区、学校、年级、手机号码等信息，因个人信息填写有误导致比赛中或奖项发放时出现错误，造成的任何后果均由活动选手自行承担。
                                <br>10.本活动最终解释权归活动主办方所有。</p>

                        </div>
                        <div class="form-bottom">
                            <form th:action="@{/multiUpload}" method="post" enctype="multipart/form-data">

                                <label><input name="Fruit" type="radio" value="" />我已阅读参赛协议并接受参赛协议 </label>
                                <br>
                                <br>
                                <label for="select">请上传PDF设计文档</label>
                                <input type="file" name="file" accept="PDF/*" id="select" value="请选择PDF设计文档"/>
                                <br>
                                <input type="text"  name="pagepath" style="display: none" th:value="xinxi6"/>
                                <input type="text"  name="formname" style="display: none" th:value="StructureChart"/>
                                <button type="submit" class="btn">确认提交(注意:提交后便无法更改，请确认所有信息无误!)</button>
                            </form>


                        </div>
                    </div>
                </div>





                </div>
            </div>

        </div>
        


        <!-- Javascript -->
        <script src="../../static/assets/js/jquery-1.11.1.min.js"></script>
        <script src="../../static/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="../../static/assets/js/jquery.backstretch.min.js"></script>
        <script src="../../static/assets/js/scripts.js"></script>
        <script src="../../static/assets/js/html5shiv.js"></script>
        <script src="../../static/assets/js/respond.min.js"></script>
        <!--[if lt IE 10]>
        <script src="../../static/assets/js/placeholder.js"></script>
        <![endif]-->

    </body>

</html>