<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>作品提交</title>

        <!-- CSS -->
        <link rel="stylesheet" href="../../static/assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../static/assets/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="../../static/assets/css/tijiaoform-elements.css">
        <link rel="stylesheet" href="../../static/assets/css/tijiaostyle.css">
        <link rel="stylesheet" type="text/css" href="../../static/assets/css/bootstrap-directional-buttons.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="../../static/assets/ico/favicon.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../../static/assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../../static/assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../../static/assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="../../static/assets/ico/apple-touch-icon-57-precomposed.png">

    </head>

    <body>

    <br>
    <a href="xinxi1">
        <button type="button" style="" class="btn btn-default btn-circle btn-x2"><strong style="">一、团队与项目信息</strong><br><br><br><br><br></button></a><nobr style="font-size: 50px;vertical-align: middle ">→</nobr>
    <a href="xinxi2">
        <button type="button" style="" class="btn btn-primary btn-circle btn-x2"><strong>二、项目说明</strong><br><br>1.项目作品展示图<br>2.思维导图<br>3.作品说明<br>4.比赛心得</button></a><nobr style="font-size: 50px;vertical-align: middle ">→</nobr>
    <a href="xinxi3">
        <button type="button" style="background-color:#33CCFF" class="btn btn-success btn-circle btn-x2"><strong>三、作品程序说明</strong><br><br>1.硬件电路图<br>2.程序流程图<br>3.代码模块图<br></button></a> <nobr style="font-size: 50px;vertical-align: middle ">→</nobr>
    <a href="xinxi4">
        <button type="button" style="background-color:#33CCFF" class="btn btn-info btn-circle btn-x2"><strong>四、结构说明</strong><br><br>1.作品结构图<br>2.使用器材说明<br><br></button></a><nobr style="font-size: 50px;vertical-align: middle ">→</nobr>
    <a href="xinxi5">
        <button type="button" style="background-color:#33CCFF" class="btn btn-info btn-circle btn-x2"><strong>五、作品演示视频</strong><br><br><br><br><br></button></a><nobr style="font-size: 50px;vertical-align: middle ">→</nobr>
    <a href="xinxi6">
        <button type="button" style="background-color:#33CCFF" class="btn btn-info btn-circle btn-x2"><strong>六、PDF文档提交</strong><br><br>1.打印pdf文档<br>2.提交pdf文档<br><br></button></a>
    


  




        <!-- Top content -->
        <div class="top-content">
        	
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1><strong>三、作品程序说明</strong></h1>
                            <div class="description">
                            	<p>
                                    (需要上传1.硬件电路图、2.程序流程图、代码模块图)
                            	</p>
                            </div>
                        </div>
                    </div>
             <div class="form-bottom">
                        <p><button class="btn" style="width: 1090px" onclick="openShutManager(this,'box',false,'点此收起案例图演示','点此展开案例图演示')">点此展开案例图演示</button></p>
                    </div>

                    <div  id="box" class="form-bottom" style="display: none">
                        <div id="myCarousel" class="carousel slide">
                            <!-- 轮播（Carousel）指标 -->
                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#myCarousel" data-slide-to="1"></li>
                                <li data-target="#myCarousel" data-slide-to="2"></li>
                            </ol>
                            <!-- 轮播（Carousel）项目 -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <p style="text-align: center">硬件电路图实例:(点击图片查看具体制作教程)</p>
                                    <a href="xinxi3"><img src="../../static/assets/Uploads/tu4.png" alt="First slide"></a>
                                </div>
                                <div class="item" style="text-align: center">
                                    <p style="text-align: center">流程图实例:(点击图片查看具体制作教程)</p>
                                    <a href="xinxi3"><img style="margin: 0 auto" src="../../static/assets/Uploads/tu5.png" alt="Third slide"></a>
                                </div>
                                <div class="item" style="text-align: center">
                                    <p style="text-align: center">代码模块图实例:(点击图片查看具体制作教程)</p>
                                    <a href="xinxi3"><img style="margin: 0 auto" src="../../static/assets/Uploads/tu6.png" alt="Fourth slide"></a>
                                </div>
                            </div>
                            <!-- 轮播（Carousel）导航 -->
                            <a class="carousel-control left" href="#myCarousel"
                               data-slide="prev">&lsaquo;</a>
                            <a class="carousel-control right" href="#myCarousel"
                               data-slide="next">&rsaquo;</a>
                        </div>
                        <br>
                        <div style="text-align:center;">
                            <button class="btn slide-one" style="width: 340px" value="硬件电路图">硬件电路图</button>
                            <button class="btn slide-two" style="width: 340px" value="流程图">流程图</button>
                            <button class="btn slide-three" style="width: 340px" value="代码模块图">代码模块图</button>
                        </div>
                    </div>
                    <br>

                </div>
                    <div class="row" id="3">
                        <div class="col-sm-6 col-sm-offset-3 form-box" style="" >
                            <div class="form-top">
                                <div class="form-top-left">
                                    <h3>1.硬件电路图</h3>
                                    <p>(1张，硬件设备的电路连接图)</p>
                                </div>
                                <div class="form-top-right">
                                    <img src="../../static/assets/images/bi.jpg">
                                </div>
                            </div>
                            <div class="form-bottom">
                                <form action="liucheng.php" method="post" enctype="multipart/form-data">
                                    <label for="select">硬件电路图(选择一张图片，图片大小不超过2M)</label>
                                    <input type="file" name="file4" id="file4" accept="image/*" onchange ="imgChange4(this);"/> <!--文件上传选择按钮-->
                                    <br>
                                    <img id="img4" src="" alt="硬件电路图(未上传)"/> <!--图片显示位置-->

                                    <br>
                                    <br>
                                    <button type="submit" class="btn">确认</button>
                                </form>

                            </div>
                        </div>
                    </div>
                <div class="row" id="3">
                    <div class="col-sm-6 col-sm-offset-3 form-box" style="" >
                        <div class="form-top">
                            <div class="form-top-left">
                                <h3>2.流程图</h3>
                                <p>(1-2张，提炼步骤、梳理流程、判断分支)</p>
                            </div>
                            <div class="form-top-right">
                                <img src="../../static/assets/images/bi.jpg">
                            </div>
                        </div>
                        <div class="form-bottom">
                            <form action="liucheng.php" method="post" enctype="multipart/form-data">
                                <label for="select">流程图(至少选择一张，最多选择两张图片，每张图片大小不超过2M。注:点击选择文件后可同时选择两张图片)</label>
                                <input value="可同时最多选择两张图" multiple="multiple" type="file" name="file5" id="file5" accept="image/*" onchange ="imgChange5(this);"/> <!--文件上传选择按钮-->
                                <br>
                                <img id="img5" src="" alt="流程图(未上传)"/> <!--图片显示位置-->

                                <br>
                                <br>
                                <img id="img5.1" src="" alt="流程图2(未上传)"/>
                                <br>
                                <br>
                                <button type="submit" class="btn">确认</button>
                            </form>


                        </div>
                    </div>
                </div>
                <div class="row" id="3">
                    <div class="col-sm-6 col-sm-offset-3 form-box" style="" >
                        <div class="form-top">
                            <div class="form-top-left">
                                <h3>3.代码模块图</h3>
                                <p>(1-2张，Mixly代码模块图)</p>
                            </div>
                            <div class="form-top-right">
                                <img src="../../static/assets/images/bi.jpg">
                            </div>
                        </div>
                        <div class="form-bottom">
                            <form action="liucheng.php" method="post" enctype="multipart/form-data">
                                <label for="select">代码模块图(至少选择一张，最多选择两张图片，每张图片大小不超过2M。注:点击选择文件后可同时选择两张图片)</label>
                                <input value="可同时最多选择两张图" multiple="multiple" type="file" name="file6" id="file6" accept="image/*" onchange ="imgChange6(this);"/> <!--文件上传选择按钮-->
                                <br>
                                <img id="img6" src="" alt="代码模块图(未上传)"/> <!--图片显示位置-->

                                <br>
                                <br>
                                <img id="img6.1" src="" alt="代码模块图2(未上传)"/>
                                <br>
                                <br>
                                <button type="submit" class="btn">确认</button>
                            </form>


                        </div>
                    </div>
                </div>

                              
                    
                    
                </div>
            </div>
            
        </div>
        


        <!-- Javascript -->
        <script src="../../static/assets/js/jquery-1.11.1.min.js"></script>
        <script src="../../static/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="../../static/assets/js/jquery.backstretch.min.js"></script>
        <script src="../../static/assets/js/scripts.js"></script>
        <script src="../../static/assets/js/html5shiv.js"></script>
        <script src="../../static/assets/js/respond.min.js"></script>
        <!--[if lt IE 10]>
        <script src="../../static/assets/js/placeholder.js"></script>
        <![endif]-->

    </body>

</html>