<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>作品提交</title>

        <!-- CSS -->
        <link rel="stylesheet" href="../../static/assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../static/assets/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="../../static/assets/css/tijiaoform-elements.css">
        <link rel="stylesheet" href="../../static/assets/css/tijiaostyle.css">
        <link rel="stylesheet" type="text/css" href="../../static/assets/css/bootstrap-directional-buttons.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="../../static/assets/ico/favicon.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../../static/assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../../static/assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../../static/assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="../../static/assets/ico/apple-touch-icon-57-precomposed.png">

    </head>

    <body>

    <br>
    <a href="xinxi1">
        <button type="button" style="" class="btn btn-default btn-circle btn-x2"><strong style="">一、团队与项目信息</strong><br><br><br><br><br></button></a><nobr style="font-size: 50px;vertical-align: middle ">→</nobr>
    <a href="xinxi2">
        <button type="button" style="" class="btn btn-primary btn-circle btn-x2"><strong>二、项目说明</strong><br><br>1.项目作品展示图<br>2.思维导图<br>3.作品说明<br>4.比赛心得</button></a><nobr style="font-size: 50px;vertical-align: middle ">→</nobr>
    <a href="xinxi3">
        <button type="button" style="" class="btn btn-success btn-circle btn-x2"><strong>三、作品程序说明</strong><br><br>1.硬件电路图<br>2.程序流程图<br>3.代码模块图<br></button></a> <nobr style="font-size: 50px;vertical-align: middle ">→</nobr>
    <a href="xinxi4">
        <button type="button" style="" class="btn btn-info btn-circle btn-x2"><strong>四、结构说明</strong><br><br>1.作品结构图<br>2.使用器材说明<br><br></button></a><nobr style="font-size: 50px;vertical-align: middle ">→</nobr>
    <a href="xinxi5">
        <button type="button" style="background-color:#2ee9ff" class="btn btn-info btn-circle btn-x2"><strong>五、作品演示视频</strong><br><br><br><br><br></button></a><nobr style="font-size: 50px;vertical-align: middle ">→</nobr>
    <a href="xinxi6">
        <button type="button" style="background-color:#33CCFF" class="btn btn-info btn-circle btn-x2"><strong>六、PDF文档提交</strong><br><br>1.打印pdf文档<br>2.提交pdf文档<br><br></button></a>


        <!-- Top content -->
        <div class="top-content">
            
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1><strong>五、作品演示视频</strong></h1>
                            <div class="description">
                                <p>
                                    (请制作作品演示视频，需要有完整的功能展示)
                                </p>
                            </div>
                        </div>
                    </div>


                <div class="form-bottom">
                    <p><button class="btn" style="width: 1090px" onclick="openShutManager(this,'box',false,'点此收起案例视频演示','点此展开案例视频演示')">点此展开案例视频演示</button></p>
                </div>

                <div  id="box" class="form-bottom" style="display: none">
                    作品视频地址链接"http://player.youku.com/player.php/sid/XNDEwMzIzMDcyMA==/v.swf"
                <embed
                        src='http://player.youku.com/player.php/sid/XMzczMjAyODgzMg==/v.swf'
                        allowFullScreen='true'

                        quality='high'
                        width='1090px'
                        height='650px'
                        align='middle'
                        allowScriptAccess='always'
                        type='application/x-shockwave-flash'>
                </embed>

            </div>
                </div>
                <div class="row" id="4">
                    <div class="col-sm-6 col-sm-offset-3 form-box" style="" >
                        <div class="form-top">
                            <div class="form-top-left">
                                <h3>五、作品演示视频</h3>
                                <p>(请将制作视频上传到优酷或其他视频软件，并在下方给出演示视频的地址链接)</p>
                            </div>
                            <div class="form-top-right">
                                <img src="../../static/assets/images/bi.jpg">
                            </div>
                        </div>
                        <div class="form-bottom">
                            <form action="liucheng.php" method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <input type="text" name="form-username" placeholder="视频链接..." class="form-username form-control" id="form-username">
                                </div>
                                <button type="submit" class="btn">确认</button>
                            </form>
                        </div>
                    </div>
                </div>


                    
                    
                    
                </div>
            </div>
            
        </div>
        


        <!-- Javascript -->
        <script src="../../static/assets/js/jquery-1.11.1.min.js"></script>
        <script src="../../static/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="../../static/assets/js/jquery.backstretch.min.js"></script>
        <script src="../../static/assets/js/scripts.js"></script>
        <script src="../../static/assets/js/html5shiv.js"></script>
        <script src="../../static/assets/js/respond.min.js"></script>
        <script src="../../static/assets/js/videoplus.js"></script>

        <![endif]-->

    </body>

</html>