<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>作品提交</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../../static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../static/assets/css/tijiaoform-elements.css">
    <link rel="stylesheet" href="../../static/assets/css/tijiaostyle.css">
    <link rel="stylesheet" type="text/css" href="../../static/assets/css/bootstrap-directional-buttons.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <![endif]-->

    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="../../static/assets/ico/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="../../static/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="../../static/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
          href="../../static/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../../static/assets/ico/apple-touch-icon-57-precomposed.png">

</head>

<body>

<div class="top-content">

    <div style="padding: 100px 0 50px 0" class="inner-bg">
        <div class="row" id="4">
            <div class="col-sm-6 col-sm-offset-3 form-box" style="">
                <div class="form-top">
                </div>
                <div class="form-bottom">
                    <form id="test_form" class="login-form"  method="post" >
                        <div class="form-group" >
                            <input type="text" name="VideoURL" placeholder="视频链接..."
                                   class="form-username form-control" id="VideoURL">
                        </div>
                        <a href="#box3">
                            <button type="button" id="sss" onclick="check()" class="btn">查看</button>
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="box3" class="container" style="">
        <div class="form-bottom">
            <h3 style="text-align: center"></h3>
            <p style="text-align: center"></p>
        </div>
        <div id="box2" class="form-bottom">
        </div>
    </div>
</div>


<!-- Javascript -->
<script src="../../static/assets/js/jquery-1.11.1.min.js"></script>
<script src="../../static/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="../../static/assets/js/jquery.backstretch.min.js"></script>
<script src="../../static/assets/js/scripts.js"></script>
<script src="../../static/assets/js/html5shiv.js"></script>
<script src="../../static/assets/js/respond.min.js"></script>
<script src="../../static/assets/js/videoplus.js"></script>
<script>
    function check() {
        var VideoURL= document.getElementById("VideoURL").value;
        var str1="src='";
        var str2="src=\"";
        var i1=VideoURL.indexOf(str1);
        var i2=VideoURL.indexOf(str2);
        if(i1!=-1){
            // alert(i1);
            VideoURL=VideoURL.substring(i1+5);
            // alert(VideoURL);
            i1=VideoURL.indexOf("'");
            // alert(i1);
            VideoURL=VideoURL.substring(0,i1);
            //alert(VideoURL);

        }
        if(i2!=-1){
            // alert(i2);
            VideoURL=VideoURL.substring(i2+5);
            //alert(VideoURL);
            i2=VideoURL.indexOf('"');
            // alert(i2);
            VideoURL=VideoURL.substring(0,i2);
            //alert(VideoURL);
        }
        alert(VideoURL);
        var div = document.getElementById('box2');
        div.innerHTML = '<iframe\n' +
            '                        src=\''+VideoURL+'\'\n' +
            '                        allowFullScreen=\'true\'\n' +
            '                        width=\'1090px\'\n' +
            '                        height=\'650px\'\n' +
            '                        align=\'middle\'\n' +
            '                        frameborder=\'0\'\n' +
            '                </iframe>'
    }
</script>
<![endif]-->

</body>

</html>