<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../../static/assets/assets1/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../../static/assets/assets1/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        管理中心
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <!-- CSS Files -->
    <link href="../../static/assets/assets1/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../static/assets/assets1/css/paper-dashboard.css?v=2.0.0" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="../../static/assets/assets1/demo/demo.css" rel="stylesheet" />
</head>

<body class="">
<div class="wrapper ">
    <div class="sidebar" data-color="white" data-active-color="danger">
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
      -->
        <div class="logo">
            <a href="zhongxin1" class="simple-text logo-mini">
                <div class="logo-image-small">
                    <img src="../../static/assets/assets1/img/logo-small.png">
                </div>
            </a>
            <a href="zhongxin1" class="simple-text logo-normal">
                管理中心
                <!-- <div class="logo-image-big">
                  <img src="../../static/assets/assets1/img/logo-big.png">
                </div> -->
            </a>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li>
                    <a href="guanli1">
                        <i class="nc-icon nc-bank"></i>
                        <p>数据统计</p>
                    </a>
                </li>
                <li class="active ">
                    <a href="zuopin">
                        <i class="nc-icon nc-diamond"></i>
                        <p>打分系统</p>
                    </a>
                </li>
                <li>
                    <a href="index">
                        <i class="nc-icon nc-bank"></i>
                        <p>返回首页</p>
                    </a>
                </li>

            </ul>
        </div>
    </div>
    <div class="main-panel">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
            <div class="container-fluid">
                <div class="navbar-wrapper">
                    <div class="navbar-toggle">
                        <button type="button" class="navbar-toggler">
                            <span class="navbar-toggler-bar bar1"></span>
                            <span class="navbar-toggler-bar bar2"></span>
                            <span class="navbar-toggler-bar bar3"></span>
                        </button>
                    </div>
                    <a class="navbar-brand" href="zhongxin1">管理中心</a>
                </div>
            </div>
        </nav>


        <!-- End Navbar -->
        <!-- <div class="panel-header panel-header-lg">

    <canvas id="bigDashboardChart"></canvas>


  </div> -->
        <div class="content">

            <!-- 修改成功 -->
            <div id="myAlert1" th:if="${Success!=null}"  class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong style="font-size: 25px">成功！</strong><strong th:text="${Success}"style="font-size: 25px"></strong>
            </div>
            <!-- 修改失败 -->
            <div id="myAlert2" th:if="${Error!=null}"  class="alert alert-warning">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong style="font-size: 25px">警告！</strong><strong th:text="${Error}"style="font-size: 25px"></strong>
            </div>

            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-5 col-md-4">
                                    <div class="icon-big text-center icon-warning">
                                        <i class="nc-icon nc-globe text-warning"></i>
                                    </div>
                                </div>
                                <div class="col-7 col-md-8">
                                    <div class="numbers">
                                        <p class="card-category">学生总数</p>
                                        <p class="card-title" th:text="${student_count}">0
                                        <p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer ">
                            <hr>
                            <div class="stats">
                                <i class="fa fa-refresh"></i>学生总数
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-5 col-md-4">
                                    <div class="icon-big text-center icon-warning">
                                        <i class="nc-icon nc-money-coins text-success"></i>
                                    </div>
                                </div>
                                <div class="col-7 col-md-8">
                                    <div class="numbers">
                                        <p class="card-category">教师总数</p>
                                        <p class="card-title" th:text="${teacher_count}">0
                                        <p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer ">
                            <hr>
                            <div class="stats">
                                <i class="fa fa-calendar-o"></i>教师总数
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-5 col-md-4">
                                    <div class="icon-big text-center icon-warning">
                                        <i class="nc-icon nc-vector text-danger"></i>
                                    </div>
                                </div>
                                <div class="col-7 col-md-8">
                                    <div class="numbers">
                                        <p class="card-category">项目总数</p>
                                        <p class="card-title" th:text="${project_count}">0
                                        <p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer ">
                            <hr>
                            <div class="stats">
                                <i class="fa fa-clock-o"></i> 项目总数
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-5 col-md-4">
                                    <div class="icon-big text-center icon-warning">
                                        <i class="nc-icon nc-favourite-28 text-primary"></i>
                                    </div>
                                </div>
                                <div class="col-7 col-md-8">
                                    <div class="numbers">
                                        <p class="card-category">学校总数</p>
                                        <p class="card-title" th:text="${school_count}">0
                                        <p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer ">
                            <hr>
                            <div class="stats">
                                <i class="fa fa-refresh"></i>学校总数
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">项目评分表</h4>
                            <h4 class="card-title">(对应文档完整度【70分】、视频整体效果体现【30分】，总分【100分】)</h4>
                        </div>
                        <div class="card-body">
                            <div class="">
                                <table class="table">
                                    <thead class=" text-primary">
                                    <th>行号</th>
                                    <th>项目序号</th>
                                    <th>项目名</th>
                                    <th>作品演示视频</th>
                                    <th>作品pdf</th>
                                    <th>已评分次数</th>
                                    <th>分数</th>
                                    <th>评分</th>
                                    </thead>
                                    <tbody>
                                    <tr>
                                    <tr th:each="project,iterStat: ${projects}"
                                        th:object="${project}" th:id="${iterStat.count}">
                                        <td th:text="${iterStat.count}">0</td>
                                        <td th:text="*{ProjectID}">0</td>
                                        <td th:text="*{ProjectName}">超声波测距仪</td>
                                        <td><a th:href="|/display/project*{ProjectID}display.html|"
                                               target="_blank">视频链接</a></td>
                                        <td><a th:href="|/upload/*{StudentID1}/DesignDocument/DesignDocument0.pdf|"
                                               target="_blank">
                                            作品pdf</a></td>
                                        <td th:text="*{PreliminariesScoreTimes}"
                                            class="PreliminariesScoreTimes">0</td>
                                        <td th:text="*{PreliminariesScore}"
                                            class="PreliminariesScore">0</td>
                                        <td class="score">点此评分</td>
                                        <td class="scoreaction">
                                            <input type="text" th:id="|${iterStat.count}input|"
                                                  max="100" min="0" class="scoreinput" name="score">
                                            <img src="../../static/assets/images/cha.png" class="scorecancel"
                                                th:id="|${iterStat.count}cancel|"></img>&nbsp;&nbsp;
                                            <img src="../../static/assets/images/gou.png" class="scoresubmit"
                                                th:id="|${iterStat.count}submit|"></img>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer footer-black  footer-white ">
            <div class="container-fluid">
                <div class="row">
                    <nav class="footer-nav">
                        <ul>
                            <li>
                                <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>
                            </li>
                            <li>
                                <a href="http://blog.creative-tim.com/" target="_blank">Blog</a>
                            </li>
                            <li>
                                <a href="https://www.creative-tim.com/license" target="_blank">Licenses</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="credits ml-auto">
              <span class="copyright">
                <script>
                  document.write(new Date().getFullYear())
                </script>, made with <i class="fa fa-heart heart"></i> by Creative Tim
              </span>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
<!--   Core JS Files   -->
<script src="../../static/assets/assets1/js/core/jquery.min.js"></script>
<script src="../../static/assets/assets1/js/core/popper.min.js"></script>
<script src="../../static/assets/assets1/js/core/bootstrap.min.js"></script>
<script src="../../static/assets/assets1/js/plugins/perfect-scrollbar.jquery.min.js"></script>
<!--  Google Maps Plugin    -->
<!-- Chart JS -->
<script src="../../static/assets/assets1/js/plugins/chartjs.min.js"></script>
<!--  Notifications Plugin    -->
<script src="../../static/assets/assets1/js/plugins/bootstrap-notify.js"></script>
<!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
<script src="../../static/assets/assets1/js/paper-dashboard.min.js?v=2.0.0" type="text/javascript"></script>
<!-- Paper Dashboard DEMO methods, don't include it in your project! -->
<script src="../../static/assets/assets1/demo/demo.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function () {
        $(".scoreaction").hide();
    });
    $(".score").click(function () {
        var v_id="#"+$(this).parent().attr('id');
        $(v_id).children(" .score").hide();
        $(v_id).children(" .scoreaction").show();
    });
    $(".scorecancel").click(function () {
        var v_id="#"+$(this).parent().parent().attr('id');
        $(v_id).children(" .score").show();
        $(v_id).children(" .scoreaction").hide();
    });
    $(".scoresubmit").click(function () {
        var v_id="#"+$(this).parent().parent().attr('id');
        var projects =/*[[${projects}]]*/ null;
        var project=projects[$(this).parent().parent().attr('id')-1];
        var projectid=project["projectID"];
        var score=$(this).prev().prev().val();
        $(v_id).children(" .score").show();
        $(v_id).children(" .scoreaction").hide();
        var params = {"projectid":projectid,"score":score};
        $.ajax({
                type:"get",
                ansyv:true,
                data:params,
                datatype:"json",
                url:"projectscore",
                success:function(project){
                    var projectscore=project["preliminariesScore"];
                    var scoretimes=project["preliminariesScoreTimes"];
                    $(v_id).children(" .PreliminariesScoreTimes").text(scoretimes);
                    $(v_id).children(" .PreliminariesScore").text(projectscore);
                },
                error:function(){
                    alert("error");
                }
    });
    });
</script>
</body>

</html>