<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>密码找回</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../../static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../static/assets/css/zhuceform-elements.css">
    <link rel="stylesheet" href="../../static/assets/css/zhucestyle.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <![endif]-->

    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="../../static/assets/ico/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../../static/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../../static/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../../static/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../../static/assets/ico/apple-touch-icon-57-precomposed.png">

</head>

<body>

<!-- Top content -->
<div class="top-content">

    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text">
                    <h1><strong>密码找回</strong></h1>
                    <div class="description">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 form-box">
                    <div class="form-top">
                        <div class="form-top-left">
                            <h3>选择你的身份</h3>
                        </div>
                        <div class="form-top-right">
                            <img src="../../static/assets/images/bi.jpg">
                        </div>
                    </div>
                    <div class="form-bottom">
                        <form><button type="button" class="btn" data-toggle="modal"
                                      data-target="#Modal1">学生</button></form>
                        <div class="modal fade" id="Modal1" tabindex="-1" role="dialog" aria-labelledby="ModalLabel1" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="ModalLabel1">学生密码找回</h4>
                                    </div>

                                    <!-- 验证码错误 -->
                                    <div id="myAlert1" th:if="${codeError!=null}"  class="alert alert-warning">
                                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                                        <strong style="font-size: 25px">警告！</strong><strong th:text="${codeError}"style="font-size: 25px"></strong>
                                    </div>
                                    <!-- 未注册的邮箱 -->
                                    <div id="myAlert2" th:if="${mailError!=null}"  class="alert alert-warning">
                                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                                        <strong style="font-size: 25px">警告！</strong><strong th:text="${mailError}"style="font-size: 25px"></strong>
                                    </div>
                                    <!-- 系统错误 -->
                                    <div id="myAlert3" th:if="${systemError!=null}"  class="alert alert-warning">
                                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                                        <strong style="font-size: 25px">警告！</strong><strong th:text="${systemError}"style="font-size: 25px"></strong>
                                    </div>

                                    <div class="modal-body">
                                        <div class="form-bottom" style="text-align: right;background-color:#FFFFFF">
                                        <form role="form" th:action="@{/studentpasswordupdate}" method="post"
                                              th:object="${student}" id="studentform" class="login-form">
                                            <div class="form-group">
                                                邮箱地址:<input type="text" name="StudentEmail" placeholder="邮箱地址..."
                                                           th:value="*{StudentEmail}" class="form-username">
                                            </div>
                                            <div class="form-group">
                                                验证码:<input type="text" style="width: 205px" name="code" placeholder="请输入邮箱验证码..."
                                                          th:value="${code}" class="form-username">
                                                <button style=" width: 200px;" id="studentgetcode" class="btn">获取邮箱验证码</button>
                                            </div>
                                            <div class="form-group">
                                                修改密码:<input type="password" name="StudentPassword" placeholder="输入您想修改的新密码..."
                                                           th:value="*{StudentPassword}" class="form-password">
                                            </div>
                                            <div class="form-group">
                                                确认密码:<input type="password" name="ConfirmPassword" placeholder="(再次输入密码进行确认)..."
                                                            class="form-password">
                                            </div>
                                        </form>
                                    </div></div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                        <button type="button" id="studentsubmit" class="btn btn-primary">提交更改</button>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal -->
                        </div>
                    </div>
                    <div class="form-bottom">
                        <form><button type="button" class="btn" data-toggle="modal"
                                      data-target="#Modal2">教师</button></form>
                        <div class="modal fade" id="Modal2" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="ModalLabel2">教师密码找回</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-bottom" style="text-align: right;background-color:#FFFFFF">
                                            <form role="form" th:action="@{/teacherpasswordupdate}" method="post"
                                                 th:object="${teacher}" id="teacherform" class="login-form">
                                                <div class="form-group">
                                                    邮箱地址:<input type="text" name="TeacherEmail" placeholder="邮箱地址..."
                                                               th:value="*{TeacherEmail}" class="form-username">
                                                </div>
                                                <div class="form-group">
                                                    验证码:<input type="text" style="width: 205px" name="code" placeholder="请输入邮箱验证码..."
                                                              th:value="${code}" class="form-username">
                                                    <button style=" width: 200px;" id="teachergetcode" class="btn">获取邮箱验证码</button>
                                                </div>
                                                <div class="form-group">
                                                    修改密码:<input type="password" name="TeacherPassword" placeholder="输入您想修改的新密码..."
                                                               th:value="*{TeacherPassword}" class="form-password">
                                                </div>
                                                <div class="form-group">
                                                    确认密码:<input type="password" name="ConfirmPassword" placeholder="(再次输入密码进行确认)..."
                                                                class="form-password">
                                                </div>

                                            </form>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                        <button type="button" id="teachersubmit" class="btn btn-primary">提交更改</button>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- Javascript -->
<script src="../../static/assets/js/jquery-1.11.1.min.js"></script>
<script src="../../static/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="../../static/assets/js/jquery.backstretch.min.js"></script>
<script src="../../static/assets/js/scripts.js"></script>
<script src="../../static/assets/js/html5shiv.js"></script>
<script src="../../static/assets/js/respond.min.js"></script>
<!--[if lt IE 10]>
<script src="../../static/assets/js/placeholder.js"></script>
<![endif]-->
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    $("#studentgetcode").click(function(){
        var txt=$("input[name$='StudentEmail']").val();
        $.post("getverifycode",{email:txt});
        var time = 60;
        settime($(this));
        function settime(obj){
            if (time==0) {
                $(obj).attr('disabled', false);
                $(obj).html("点击获取验证码");
                time = 60;
                return;
            } else{
                $(obj).attr('disabled', true);
                $(obj).html(time+"秒后重新发送");
                time--;
            }
            setTimeout(function() {
                settime(obj)
            },1000)
        }
        //$.cookie('email', txt);
    });
    $("#teachergetcode").click(function(){
        var txt=$("input[name$='TeacherEmail']").val();
        $.post("getverifycode",{email:txt});
        var time = 60;
        settime($(this));
        function settime(obj){
            if (time==0) {
                $(obj).attr('disabled', false);
                $(obj).html("点击获取验证码");
                time = 60;
                return;
            } else{
                $(obj).attr('disabled', true);
                $(obj).html(time+"秒后重新发送");
                time--;
            }
            setTimeout(function() {
                settime(obj)
            },1000)
        }
        //$.cookie('email', txt);
    });
    $("#studentsubmit").click(function(){
        $("#studentform").submit();
    });
    $("#teachersubmit").click(function(){
        $("#teacherform").submit();
    });
</script>
</body>

</html>