<!DOCTYPE HTML>
<html>
	<head>
		<title>Contact </title>
		<link href="../../static/assets/css/bootstrap.css" rel='stylesheet' type='text/css' />
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		 <!-- Custom Theme files -->
		<link href="../../static/assets/css/shouyestyle.css" rel='stylesheet' type='text/css' />
		<link rel="stylesheet" type="text/css" href="../../static/assets/css/magnific-popup.css">
		 <!-- Custom Theme files -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Snow Skating Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
		Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" 
		/>
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		<script src="https://fonts.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		 <!-- start-smoth-scrolling-->
		<script type="text/javascript" src="../../static/assets/js/move-top.js"></script>
		<script type="text/javascript" src="../../static/assets/js/easing.js"></script>
		
		<script type="text/javascript" src="../../static/assets/js/modernizr.custom.53451.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
		 <!--start-smoth-scrolling-->
		<!--webfonts-->
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
		<!--//webfonts-->
		<!--start-top-nav-script-->
		<script>
			$(function() {
				var pull 		= $('#pull');
					menu 		= $('nav ul');
					menuHeight	= menu.height();
				$(pull).on('click', function(e) {
					e.preventDefault();
					menu.slideToggle();
				});
				$(window).resize(function(){
	        		var w = $(window).width();
	        		if(w > 320 && menu.is(':hidden')) {
	        			menu.removeAttr('style');
	        		}
	    		});
			});
		</script>
		<!--//End-top-nav-script-->
	</head>
	<body>
		<!-- start-header-->
			<div class="header-top">
				<div class="container">
					<div class="top-header">
						<div class="logo">
							<a href="index.html"><img src="../../static/assets/images/logo.png" alt=""></a>
						</div>
						<!--start-top-nav-->
							<!--start-top-nav-->
						 <nav class="top-nav">
							<ul class="top-nav">
								<li style="font-size:22px "><a href="index">主页</a></li>
								<li style="font-size: 22px"><a href="about"> 关于大赛</a></li>
								<li style="font-size: 22px"><a href="ziliao">Mixly开源资料库 </a></li>
								<li style="font-size: 22px" class="active"><a href="chuangke"> 创客空间  </a></li>
								<li style="font-size: 22px"><a href="login">注册/登录</a></li>
									<div class="clearfix"> </div>

							</ul>
							<a href="#" id="pull"><img src="../../static/assets/images/menu-icon.png" title="menu" /></a>
						</nav>

						<!-- start search-->
					</div>
			<!--start-contact-->
	 <div  class="contact" id="contact">
	 		<div class="contact-head">
	 			<div class="container">
						<h3>Contact Us</h3>	
				</div>
			</div>
	<div class="contact-content">
		<div class="container">
			<div class="col-md-7 contact-left">
 				 <div class="form">				
				  			<form method="post" action="#">
							    	<input type="text" class="textbox" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name ';}">
							    	<input type="text" class="textbox" value="Email Address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
							    	<input type="text" class="textbox" value="Address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Address';}">
										<div class="clearfix"> </div>
								    <div>
								    	<textarea value="Message:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Message ';}">Your Message</textarea>
								    </div>	
								   <div class="submit"> 
								    	<input type="submit" value="Submit " />
					              </div>
							</form>
						</div>
 		</div>
		</div>
	</div>
	 </div></div></div>

