<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title> 米思齐创客创意电子编程大赛 </title>
	<link href="../../static/assets/css/bootstrap.css" rel='stylesheet' type='text/css' />
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<!-- Custom Theme files -->
	<link href="../../static/assets/css/shouyestyle.css" rel='stylesheet' type='text/css' />
	<link rel="stylesheet" type="text/css" href="../../static/assets/css/magnific-popup.css">
	<!-- Custom Theme files -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Snow Skating Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
		Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design"
	/>

	<!--//End-top-nav-script-->
</head>
<body style="background-color: #FFFDF4">
<!-- start-header-->
<div style="background-color: #D4AC8D" class="header-top">
	<div class="container">
		<div style="background-color: #D4AC8D" class="top-header">
			<div class="logo">
				<a href="index.html"><img src="../../static/assets/images/logo.png" alt=""></a>
			</div>
			<!--start-top-nav-->
			<!--start-top-nav-->
			<nav class="top-nav">
				<ul class="top-nav">
					<li style="font-size:22px "><a href="index">主页</a></li>
					<li style="font-size: 22px"><a href="about"> 关于大赛</a></li>
					<li style="font-size: 22px"><a href="ziliao">Mixly开源资料库 </a></li>
					<li style="font-size: 22px" class="active"><a href="chuangke"> 创客空间  </a></li>
					<li style="font-size: 22px" th:unless="${teacher!=null}" ><a href="login">注册/登录</a></li>
					<li style="font-size: 22px" th:if="${teacher!=null}"><a href="zhongxin1">个人中心</a></li>

				</ul>

			</nav>

			<!-- start search-->

		</div>


		<div class="clearfix"></div>
	</div>
</div>
<div class="about-section">
	<div class="container">
		<div class="about-grids">
			<div class="col-md-9 about-left">
				<h1>创客</h1>
				<p>&nbsp;&nbsp;创客（Mak-er）“创”指创造，“客”指从事某种活动的人，“创客”本指勇于创新，努力将自己的创意变为现实的人。这个词译自英文单词“Mak-er”，源于美国麻省理工学院微观装配实验室的实验课题，此课题以创新为理念，以客户为中心，以个人设计、个人制造为核心内容，参与实验课题的学生即“创客”。“创客”特指具有创新理念、自主创业的人。 在中国，“创客”与“大众创业,万众创新”联系在了一起，特指具有创新理念、自主创业的人。 2015年12月，《咬文嚼字》杂志发布2015年度“十大流行语”，创客排第五。</p>
				<br><h1>编程套件</h1>
				<div class="blog-artical-info-img">
					<a href="blog-inner.html" class="mask"><img src="../../static/assets/images/windows-2.png" alt="image" class="img-responsive zoom-img"></a>
				</div>
				<div class="blog-artical-info-head">
					<h2><a href="blog-inner.html">青少年编程工具 </a></h2>
					<ul>
						<li><img src="../../static/assets/images/mixly.png"><a href="https://pan.baidu.com/s/1jIMMnv4#list/path=%2F">点此下载Mixly</a>&nbsp;&nbsp;&nbsp;&nbsp;</li>
						<li><img src="../../static/assets/images/scratch.png"><a href="https://pan.baidu.com/s/1bpClmAb#list/path=%2F">点此下载Scratch</a></li>
					</ul>
				</div>
				<div class="blog-artical-info-text">
					<p>&nbsp;&nbsp;Mixly图形化编程软件由北京师范大学教育学部创客教育实验室开发。提供了丰富友好的传感器模块和功能实现模块。</p>
				</div>
				<div class="blog-artical-info-text">
					<p>&nbsp;&nbsp;Scratch是一款由麻省理工学院（MIT）设计开发的一款面向少年的简易编程工具，可以用来创造交互式故事、动画、游戏、音乐和艺术。 Scratch无须背指令，十分适合8岁以上的儿童使用。其特点是采用积木组合式程序语言，让学习变得更轻松，并充满乐趣。MakerPanda丰富完善了里面的传感器模块。</p>
				</div>
				<br><h1>Wiki库</h1>
				<div class="blog-artical-info-img">
					<a href="blog-inner.html" class="mask"><img src="../../static/assets/images/4.png" alt="image" class="img-responsive zoom-img"></a>
				</div>
				<br>
				<div class="blog-artical-info-head">
						<ul>
							<li><img src="../../static/assets/images/wiki.png"><a href="#">点此进入Wiki库进行学习</a></li>
						</ul>

				</div>
				<div class="blog-artical-info-text">
					<p>&nbsp;&nbsp;Wiki库是可以供学者学习相关知识的集中资料库，里面有Mixly编程软件的详细使用方法。</p>

				</div>
			</div>

			</div>
			
		</div>
	</div>
</div>

<!-- about-us -->
<!--//End-About-->
<div  class="testimonials" id="testimonials">
	<div class="wmuSlider example1">
		<div class="container-flueid">
			<article style="position: absolute; width:64%; opacity: 0;">

				<div class=" cont span_2_of_3 client-main">
					<div class="slide-text">
						<p>Suspendisse eget lobortis lacus, et elementum tortor.
							Praesent metus ligula, lacinia eu sodales sed,</p>
						<span> </span>
					</div>
					<div class="clearfix"> </div>
				</div>
			</article>
			<article style="position: absolute; width:64%; opacity: 0;">
				<div class=" cont span_2_of_3  client-main">
					<div class="slide-text">
						<p>Suspendisse eget lobortis lacus, et elementum tortor.
							Praesent metus ligula, lacinia eu sodales sed,</p>
						<span> </span>
					</div>
					<div class="clearfix"> </div>
				</div>
			</article>
			<article style="position: absolute; width:64%; opacity: 0;">
				<div class="cont span_2_of_3  client-main">
					<div class="slide-text">
						<p>Suspendisse eget lobortis lacus, et elementum tortor.
							Praesent metus ligula, lacinia eu sodales sed,</p>
						<span> </span>
					</div>
					<div class="clearfix"> </div>
				</div>
			</article>

			<script src="../../static/assets/js/jquery.wmuSlider.js"></script>
			<script>
				$('.example1').wmuSlider();
			</script>
		</div>
	</div>
</div>
<!--//text-slider-->
<!--/start-Events-->

<!--/start-footer-->
<div style="background-color: #B18869 " class="footer">
	<div class="container">
		<div class="footer-content">
			<div class="col-md-3 footer-grid-copy-right">
				<div class="logo-2">
					<a href="index.html"><img src="../../static/assets/images/logo2.png" alt=""></a>
				</div>

			</div>
			<div class="col-md-3 footer-grid">
				<h3 style="color: #d4fffa">快捷入口</h3>
				<ul class="bottom-nav">
					<li class="active"><a  style="color: #d4fffa" href="index">主页</a></li>
					<li><a style="color: #d4fffa" href="about"> 关于大赛  </a></li>
					<li><a style="color: #d4fffa" href="ziliao"> Mixly开源资料库</a></li>
					<li><a style="color: #d4fffa" href="chuangke"> 创客空间</a></li>
					<li><a style="color: #d4fffa" href="login">注册/登录</a></li>
					<div class="clearfix"> </div>

				</ul>
			</div>


		</div>

		<div class="col-md-3 footer-grid">
			<h3 style="color: #eafff8">&nbsp;&nbsp;&nbsp;&nbsp;组织单位</h3>
			<ul class="soc_icons2">
				<li><a href="#"><span style="color: #d4fffa">四川省青少年科技活动中心</span></a></li>
				<li><a href="#"><span style="color: #d4fffa">四川省太极熊科技有限公司</span></a></li>

			</ul>

		</div>
		<div class="clearfix"> </div>
	</div>
</div>
<!--//End-footer-->

<script type="text/javascript">
	$(document).ready(function() {
		/*
        var defaults = {
              containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
         };
        */

		$().UItoTop({ easingType: 'easeOutQuart' });

	});
</script>
<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script type="text/javascript" src="../../static/assets/js/jquery.min.js"></script>
<!-- start-smoth-scrolling-->
<script type="text/javascript" src="../../static/assets/js/move-top.js"></script>
<script type="text/javascript" src="../../static/assets/js/easing.js"></script>

<script type="text/javascript" src="../../static/assets/js/modernizr.custom.53451.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!--start-smoth-scrolling-->
<!--webfonts-->

<!--//webfonts-->
<!--start-top-nav-script-->
<script>
	$(function() {
		var pull 		= $('#pull');
		menu 		= $('nav ul');
		menuHeight	= menu.height();
		$(pull).on('click', function(e) {
			e.preventDefault();
			menu.slideToggle();
		});
		$(window).resize(function(){
			var w = $(window).width();
			if(w > 320 && menu.is(':hidden')) {
				menu.removeAttr('style');
			}
		});
	});
</script>
<script type="text/javascript">
	$('.main-search').hide();
	$('button').click(function (){
				$('.main-search').show();
				$('.main-search text').focus();
			}
	);
	$('.close').click(function(){
		$('.main-search').hide();
	});
</script>

</body>
</html>