<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title> 米思齐创客创意电子编程大赛 </title>
		<link href="../../static/assets/css/bootstrap.css" rel='stylesheet' type='text/css' />
        <link rel="stylesheet" href="../../static/assets/bootstrap/css/bootstrap.min.css">
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		 <!-- Custom Theme files -->
		<link href="../../static/assets/css/shouyestyle.css" rel='stylesheet' type='text/css' />
		<link rel="stylesheet" type="text/css" href="../../static/assets/css/magnific-popup.css">
		 <!-- Custom Theme files -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Snow Skating Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
		Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" 
		/>


		 <!--start-smoth-scrolling-->
		<!--webfonts-->
		<!--//webfonts-->
		<!--start-top-nav-script-->

		<!--//End-top-nav-script-->
	</head>
	<body style="background-color: #FFFDF4">
		<!-- start-header-->
		<div style="background-color: #ffcd06" class="header-top">
			<div class="container">
				<div style="background-color: #ffcd06" class="top-header">
					<div class="logo">
						<a href="index.html"><img src="../../static/assets/images/logo.png" alt=""></a>
					</div>
					<!--start-top-nav-->
					<!--start-top-nav-->
					<nav class="top-nav">
						<ul class="top-nav">
							<li style="font-size:22px " class="active"><a style="color: #c00006 "href="index">主页</a></li>
							<li style="font-size: 22px"><a style="color: #c00006 " href="about"> 关于大赛</a></li>
							<li style="font-size: 22px"><a style="color: #c00006 "href="ziliao">Mixly软件下载 </a></li>
							<li style="font-size: 22px"><a style="color: #c00006 "href="chuangke"> 创客空间  </a></li>
							<li style="font-size: 22px;color: #c00006" th:if="${teacher!=null}"><a style="color: #c00006 "href="zhongxin2">个人中心</a></li>
							<li style="font-size: 22px" th:if="${student!=null}"><a style="color: #c00006 "href="zhongxin1">个人中心</a></li>
							<li style="font-size: 22px" th:unless="${teacher!=null||student!=null}" ><a style="color: #c00006 "href="login">注册/登录</a></li>

						</ul>

					</nav>

					<!-- start search-->

				</div>


				<div class="clearfix"></div>
			</div>
		</div>
		<div id="home" class="header">
		</div>
		<!--banner Slider starts Here-->

			<!--/End-slider-script-->
			<div class="welcome-section">
				<div class="container">
					<div class="welcom-grids">
						<div class="col-md-4 welcom-grid-img">
							<img src="../../static/assets/images/welcome.jpg" title="img" />
						</div>
						<div class="col-md-4 welcom-grid-text">
							<h2>Welcom!</h2>
							<p style="font-size: 20px">快捷入口:</p>
							<a href="about"><p style="font-size: 15px">>>Mixly创意电子编程大赛通知详情</p></a>
							<a href="zuopin"><p style="font-size: 15px">>>作品提交入口</p></a>
							<a href="wiki"><p style="font-size: 15px">>>Wiki学习资料库</p></a>
						</div>
						<div class="col-md-4 welcom-grid-img">
							<h2><a href="zuopin">提交作品入口</a></h2>
							<!-- news-grid -->
							<div class="news-grid">
								<a href="zuopin"><img width="900" height="165px" src="../../static/assets/images/ab-img.png" title="name"></a>
							</div>
						</div>



						<div class="clearfix"> </div>
					</div>
				</div>
			</div>

		<!--/start-Events-->
		<div class="Event-section">
				<div class="container">
					<h3>作品展示</h3>
					<a href="zhanshi"><p style="text-align: right">更多作品>></p></a>
		 				 <div class="section group">
								<div class="col-md-3 gallery-box">
										<div id="nivo-lightbox-demo"> <p> <a href="../../static/assets/images/e1-pop.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo"> <span class="rollover1"> </span></a> </p></div>
									<img src="../../static/assets/images/e1.png" title="img" />
									<h4>超声波测距仪</h4>
									<h5>创作者<lable> MakerPanda</lable></h5>
										<p>运用超声波原理测量距离 </p>
							    </div>
								<div class="col-md-3 gallery-box">
								  	    <div id="nivo-lightbox-demo"> <p> <a href="../../static/assets/images/e2-pop.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo"> <span class="rollover1"> </span></a> </p></div>
									<img src="../../static/assets/images/e1.png" title="img" />
                                    <h4>超声波测距仪</h4>
                                    <h5>创作者<lable> MakerPanda</lable></h5>
                                        <p>运用超声波原理测量距离 </p>
							     </div>
								 <div class="col-md-3 gallery-box">
								  		<div id="nivo-lightbox-demo"> <p> <a href="../../static/assets/images/e3-pop.png" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">  <span class="rollover1"> </span></a> </p></div>
                                     <img src="../../static/assets/images/e1.png" title="img" />
                                     <h4>超声波测距仪</h4>
                                     <h5>创作者<lable> MakerPanda</lable></h5>
                                         <p>运用超声波原理测量距离 </p>
								</div>
								<div class="col-md-3 gallery-box">
								  		<div id="nivo-lightbox-demo"> <p> <a href="../../static/assets/images/e4-pop.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">  <span class="rollover1"> </span></a> </p></div>
                                    <img src="../../static/assets/images/e1.png" title="img" />
                                    <h4>超声波测距仪</h4>
                                    <h5>创作者<lable> MakerPanda</lable></h5>
                                        <p>运用超声波原理测量距离 </p>
								</div>
							<div class="clearfix"> </div>
						</div>
				   <script type="text/javascript" src="../../static/assets/js/nivo-lightbox.min.js"></script>
				<script type="text/javascript">
				$(document).ready(function(){
				    $('#nivo-lightbox-demo a').nivoLightbox({ effect: 'fade' });
				});
				</script>
			</div>
		</div>

			<!--/start-text-slider-->
	 <!--//text-slider-->
	<!--/start-Events-->

			<!--/start-footer-->
						<div style="background-color: #B18869 " class="footer">
							<div class="container">
								<div class="footer-content">
									<div class="col-md-3 footer-grid-copy-right">


						 			</div>
									<div class="col-md-3 footer-grid">
								 		<h3 style="color: #d4fffa">快捷入口</h3>
								 		<ul class="bottom-nav">
											<li class="active"><a  style="color: #d4fffa" href="index">主页</a></li>
											<li><a  style="color: #d4fffa" href="about"> 关于大赛  </a></li>
											<li><a style="color: #d4fffa" href="ziliao"> Mixly软件下载</a></li>
											<li><a style="color: #d4fffa" href="chuangke"> 创客空间</a></li>
											<li><a style="color: #d4fffa" href="login">注册/登录</a></li>
												<div class="clearfix"> </div>

										</ul>
						 			</div>
						 			

						 			</div>
								
						 			<div class="col-md-3 footer-grid">
                                        <h3 style="color: #eafff8">&nbsp;&nbsp;&nbsp;&nbsp;组织单位</h3>
											<ul class="soc_icons2">
											<li><a href="#"><span style="color: #d4fffa">四川省青少年科技活动中心</span></a></li>
											<li><a href="#"><span style="color: #d4fffa">四川省太极熊科技有限公司</span></a></li>
											
										</ul>

						 			</div>
								<div class="clearfix"> </div>
							</div>				
					</div>
					<!--//End-footer-->

				<script type="text/javascript">
									$(document).ready(function() {
										/*
										var defaults = {
								  			containerID: 'toTop', // fading element id
											containerHoverID: 'toTopHover', // fading element hover id
											scrollSpeed: 1200,
											easingType: 'linear'
								 		};
										*/

										$().UItoTop({ easingType: 'easeOutQuart' });

									});
								</script>
					<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>


        <script src="../../static/assets/js/jquery.wmuSlider.js"></script>
        <script>
            $('.example1').wmuSlider();
        </script>

        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <script type="text/javascript" src="../../static/assets/js/jquery.min.js"></script>
        <!-- start-smoth-scrolling-->
        <script type="text/javascript" src="../../static/assets/js/move-top.js"></script>
        <script type="text/javascript" src="../../static/assets/js/easing.js"></script>

        <script type="text/javascript" src="../../static/assets/js/modernizr.custom.53451.js"></script>
        <script type="text/javascript">
            jQuery(document).ready(function($) {
                $(".scroll").click(function(event){
                    event.preventDefault();
                    $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
                });
            });
        </script>
        <script src="../../static/assets/js/responsiveslides.min.js"></script>
        <script>
            // You can also use "$(window).load(function() {"
            $(function () {
                // Slideshow 4
                $("#slider4").responsiveSlides({
                    auto: true,
                    pager: true,
                    nav:false,
                    speed: 500,
                    namespace: "callbacks",
                    before: function () {
                        $('.events').append("<li>before event fired.</li>");
                    },
                    after: function () {
                        $('.events').append("<li>after event fired.</li>");
                    }
                });

            });
        </script>
        <script>
            $(function() {
                var pull 		= $('#pull');
                menu 		= $('nav ul');
                menuHeight	= menu.height();
                $(pull).on('click', function(e) {
                    e.preventDefault();
                    menu.slideToggle();
                });
                $(window).resize(function(){
                    var w = $(window).width();
                    if(w > 320 && menu.is(':hidden')) {
                        menu.removeAttr('style');
                    }
                });
            });
        </script>

</body>
</html>		