<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../../static/assets/assets1/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../../static/assets/assets1/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        个人中心
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <!-- CSS Files -->
    <link href="../../static/assets/assets1/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../static/assets/assets1/css/paper-dashboard.css?v=2.0.0" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="../../static/assets/assets1/demo/demo.css" rel="stylesheet" />
</head>

<body class="">
<div class="wrapper ">
    <div class="sidebar" data-color="white" data-active-color="danger">
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
      -->
        <div class="logo">
            <a href="zhongxin1" class="simple-text logo-mini">
                <div class="logo-image-small">
                    <img src="../../static/assets/assets1/img/logo-small.png">
                </div>
            </a>
            <a href="zhongxin1" class="simple-text logo-normal">
                个人中心
                <!-- <div class="logo-image-big">
                  <img src="../../static/assets/assets1/img/logo-big.png">
                </div> -->
            </a>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li class="active ">
                    <a href="zhongxin1">
                        <i class="nc-icon nc-single-02"></i>

                        <p>个人资料</p>
                    </a>
                </li>
                <li>
                    <a href="zuopin">
                        <i class="nc-icon nc-diamond"></i>
                        <p>提交作品</p>
                    </a>
                </li>
                <li>
                    <a href="zhanshi">
                        <i class="nc-icon nc-bank"></i>
                        <p>查看作品展示</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-panel">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
            <div class="container-fluid">
                <div class="navbar-wrapper">
                    <div class="navbar-toggle">
                        <button type="button" class="navbar-toggler">
                            <span class="navbar-toggler-bar bar1"></span>
                            <span class="navbar-toggler-bar bar2"></span>
                            <span class="navbar-toggler-bar bar3"></span>
                        </button>
                    </div>
                    <a class="navbar-brand" href="zhongxin1">个人资料</a>
                </div>
            </div>
        </nav>
        <!-- End Navbar -->
        <!-- <div class="panel-header panel-header-lg">

    <canvas id="bigDashboardChart"></canvas>


  </div> -->
        <div class="content">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-5 col-md-4">
                                    <div class="icon-big text-center icon-warning">
                                        <a href="#"><i class="nc-icon nc-globe text-warning tab1"></i></a>
                                    </div>
                                </div>
                                <div class="col-7 col-md-8">
                                    <div class="numbers">
                                        <a href="#"><p class="card-title tab1">个人信息
                                            <p></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer ">
                            <hr>
                            <div class="stats">
                                <i class="fa fa-refresh"></i> 个人信息
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-5 col-md-4">
                                    <div class="icon-big text-center icon-warning">
                                        <a href="#"><i class="nc-icon nc-money-coins text-success tab2"></i></a>
                                    </div>
                                </div>
                                <div class="col-7 col-md-8">
                                    <div class="numbers">
                                        <a href="#"><p class="card-title tab2">项目信息
                                            <p></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer ">
                            <hr>
                            <div class="stats">
                                <i class="fa fa-calendar-o"></i>项目信息
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="tab1">
                <div class="col-md-12">
                    <div class="card card-user" id="table">
                        <div class="card-header">
                            <h5 class="card-title">个人信息</h5>
                        </div>
                        <div class="card-body">
                            <table class="table" th:object="${student}">
                                <tr>
                                    <th>账号ID</th>
                                    <th>注册邮箱</th>
                                </tr>
                                <tr>
                                    <th th:text="*{StudentID}"></th>
                                    <th th:text="*{StudentEmail}"></th>
                                </tr>
                                <tr>
                                    <th>姓名</th>
                                    <th>带队老师姓名</th>
                                </tr>
                                <tr>
                                    <th th:text="*{StudentName}"></th>
                                    <th th:text="${TeacherName}"></th>
                                </tr>
                                <tr>
                                    <th>性别</th>
                                    <th>身份证号</th>
                                </tr>
                                <tr>
                                    <th th:text="*{StudentGender}"></th>
                                    <th th:text="*{StudentIdentify}"></th>
                                </tr>
                                <tr>
                                    <th>手机号</th>
                                    <th>带队老师手机号</th>
                                </tr>
                                <tr>
                                    <th th:text="*{StudentTel}"></th>
                                    <th th:text="${TeacherTel}"></th>
                                </tr>
                                <tr>
                                    <th>学校名称</th>
                                    <th>班级号</th>
                                </tr>
                                <tr>
                                    <th th:text="*{StudentSchool}"></th>
                                    <th th:text="*{ClassID}"></th>
                                </tr>
                            </table>
                            <div class="row">
                                <div class="update ml-auto mr-auto">
                                    <button style="width: 300px" type="button" id="modify"
                                            class="btn btn-primary btn-round"><p style="font-size: 20px">修改</p></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-user" id="form" style="display:none">
                        <div class="card-header">
                            <h5 class="card-title">个人信息</h5>
                        </div>
                        <div class="card-body">
                            <form th:action="@{/studentinfoupdate}" th:object="${student}" method="post">
                                <div class="row">
                                    <div class="col-md-6 pr-1">
                                        <div class="form-group">
                                            <label style="font-size: 20px">账号ID</label>
                                            <input type="text" class="form-control" disabled="" placeholder="学生ID"
                                                   name="StudentID" th:value="*{StudentID}">
                                        </div>
                                    </div>
                                    <div class="col-md-6 pr-1">
                                        <div class="form-group">
                                            <label style="font-size: 20px">注册邮箱</label>
                                            <input type="text" class="form-control" disabled="" placeholder="学生邮箱"
                                                   name="StudentEmail" th:value="*{StudentEmail}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 pr-1">
                                        <div class="form-group">
                                            <label style="font-size: 20px">姓名</label>
                                            <input type="text" class="form-control" placeholder="学生姓名"
                                                   name="StudentName" th:value="*{StudentName}">
                                        </div>
                                    </div>
                                    <div class="col-md-6 pr-1">
                                        <div class="form-group">
                                            <label style="font-size: 20px">带队老师姓名</label>
                                            <input type="text" class="form-control" disabled="" placeholder="带队老师姓名"
                                                   name="TeacherName" th:value="${TeacherName}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 pr-1">
                                        <div class="form-group">
                                            <label style="font-size: 20px">性别</label>
                                            <input type="text" class="form-control" placeholder="学生性别"
                                                   name="StudentGender" th:value="*{StudentGender}">
                                        </div>
                                    </div>
                                    <div class="col-md-6 pr-1">
                                        <div class="form-group">
                                            <label style="font-size: 20px">身份证号</label>
                                            <input type="text" class="form-control" placeholder="学生身份证号"
                                                   name="StudentIdentify" th:value="*{StudentIdentify}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 pr-1">
                                        <div class="form-group">
                                            <label style="font-size: 20px">手机号</label>
                                            <input type="text" class="form-control" placeholder="学生手机号"
                                                   name="StudentTel" th:value="*{StudentTel}">
                                        </div>
                                    </div>
                                    <div class="col-md-6 pr-1">
                                        <div class="form-group">
                                            <label style="font-size: 20px">带队老师手机号</label>
                                            <input type="text" class="form-control" disabled="" placeholder="带队老师手机号"
                                                   name="TeacherTel" th:value="${TeacherTel}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 pr-1">
                                        <div class="form-group">
                                            <label style="font-size: 20px">学校名称</label>
                                            <input type="text" class="form-control" placeholder="学校名称"
                                                   name="StudentSchool" th:value="*{StudentSchool}">
                                        </div>
                                    </div>
                                    <div class="col-md-6 pr-1">
                                        <div class="form-group">
                                            <label style="font-size: 20px">班级号</label>
                                            <input type="text" class="form-control" placeholder="班级号"
                                                   name="ClassID" th:value="*{ClassID}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="update ml-auto mr-auto">
                                        <button style="width: 300px" type="submit" class="btn btn-primary btn-round"><p style="font-size: 20px">完成修改</p></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="tab2">
                <div class="col-md-12">
                    <div class="card card-user">
                        <div class="card-header">
                            <h5 class="card-title">项目信息</h5>
                        </div>

                        <div class="card-body" th:object="${project}" th:if="${student.ProjectID!=0}">
                            <div class="row">
                                <div class="col-md-6 pr-1">
                                    <div class="alert alert-primary alert-dismissible fade show">
                                                    <span style="font-size: 20px">
                                                        <b> 项目作品名称 - </b><span th:text="*{ProjectName}"></span></span>
                                    </div>
                                </div>
                                <div class="col-md-6 pr-1">
                                    <div class="alert alert-info alert-dismissible fade show">
                                                    <span style="font-size: 20px">
                                                        <b> 项目团队名称 - </b><span th:text="*{ProjectTeamName}"></span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 pr-1">
                                    <div class="alert alert-primary alert-dismissible fade show">
                                                    <span style="font-size: 20px">
                                                        <b> 队长学生ID - </b><span th:text="*{StudentID1}"></span></span>
                                    </div>
                                </div>
                                <div class="col-md-6 pr-1" th:if="*{StudentID2!=0}">
                                    <div class="alert alert-info alert-dismissible fade show">
                                                    <span style="font-size: 20px">
                                                        <b> 队员一学生ID - </b><span th:text="*{StudentID2}"></span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 pr-1" th:if="*{StudentID3!=0}">
                                    <div class="alert alert-primary alert-dismissible fade show">
                                                    <span style="font-size: 20px">
                                                        <b> 队员二学生ID - </b><span th:text="*{StudentID3}"></span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row" th:if="${student.StudentID==project.StudentID1}">
                                <div class="col-md-4"></div>
                                <div class="col-md-4">
                                    <form class="login-form" method="post" th:action="@{/projectdelete}">
                                        <button style="width: 300px" type="submit" class="btn btn-danger">
                                            <p style="font-size: 20px">删除项目</p>
                                        </button>
                                    </form>
                                </div>
                                <div class="col-md-4"></div>
                            </div>
                        </div>
                        <div class="card-body" th:if="${student.ProjectID==0}">
                            <div class="row">
                                <div class="col-md-6 pr-1">
                                    <h6>您还没有创建项目，需要在提交作品页面完成基本信息填写</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--   Core JS Files   -->
<script src="../../static/assets/assets1/js/core/jquery.min.js"></script>
<script src="../../static/assets/assets1/js/core/popper.min.js"></script>
<script src="../../static/assets/assets1/js/core/bootstrap.min.js"></script>
<script src="../../static/assets/assets1/js/plugins/perfect-scrollbar.jquery.min.js"></script>
<!--  Google Maps Plugin    -->
<!-- Chart JS -->
<script src="../../static/assets/assets1/js/plugins/chartjs.min.js"></script>
<!--  Notifications Plugin    -->
<script src="../../static/assets/assets1/js/plugins/bootstrap-notify.js"></script>
<!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
<script src="../../static/assets/assets1/js/paper-dashboard.min.js?v=2.0.0" type="text/javascript"></script>
<!-- Paper Dashboard DEMO methods, don't include it in your project! -->
<script src="../../static/assets/assets1/demo/demo.js"></script>
<script>
    $(document).ready(function() {
        $("#tab2").hide();
    });
    $("#modify").click(function () {
        $("#table").hide();
        $("#form").show();
    });
    $(".tab1").click(function () {
        $("#tab1").show();
        $("#tab2").hide();
    });
    $(".tab2").click(function () {
        $("#tab2").show();
        $("#tab1").hide();
    })
</script>
</body>

</html>