<!DOCTYPE HTML>
<html>
	<head>
		<title> 米思齐创客创意电子编程大赛 </title>
		<link href="../../static/assets/css/bootstrap.css" rel='stylesheet' type='text/css' />
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		 <!-- Custom Theme files -->
		<link href="../../static/assets/css/shouyestyle.css" rel='stylesheet' type='text/css' />
		<link rel="stylesheet" type="text/css" href="../../static/assets/css/magnific-popup.css">
		 <!-- Custom Theme files -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Snow Skating Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
		Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design"
		/>
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		<script src="https://fonts.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		 <!-- start-smoth-scrolling-->
		<script type="text/javascript" src="../../static/assets/js/move-top.js"></script>
		<script type="text/javascript" src="../../static/assets/js/easing.js"></script>
		<script src="../../static/assets/js/modernizr.custom.53451.js"></script>
		<script type="text/javascript" src="../../static/assets/js/modernizr.custom.53451.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
		 <!--start-smoth-scrolling-->
		<!--webfonts-->
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
		<!--//webfonts-->
		<!--start-top-nav-script-->
		<script>
			$(function() {
				var pull 		= $('#pull');
					menu 		= $('nav ul');
					menuHeight	= menu.height();
				$(pull).on('click', function(e) {
					e.preventDefault();
					menu.slideToggle();
				});
				$(window).resize(function(){
	        		var w = $(window).width();
	        		if(w > 320 && menu.is(':hidden')) {
	        			menu.removeAttr('style');
	        		}
	    		});
			});
		</script>
		<!--//End-top-nav-script-->
	</head>
	<body>
		<!-- start-header-->
			<div class="header-top">
				<div class="container">
					<div class="top-header">
						<div class="logo">
							<a href="index.html"><img src="../../static/assets/images/logo.png" alt=""></a>
						</div>
						<!--start-top-nav-->
							<!--start-top-nav-->
						 <nav class="top-nav">
							<ul class="top-nav">
								<li style="font-size:22px "><a href="index">主页</a></li>
								<li style="font-size: 22px"><a href="about"> 关于大赛</a></li>
								<li style="font-size: 22px" class="active"><a href="ziliao">Mixly开源资料库 </a></li>
								<li style="font-size: 22px"><a href="chuangke"> 创客空间  </a></li>
								<li style="font-size: 22px"><a href="login">注册/登录</a></li>
									<div class="clearfix"> </div>

							</ul>

						</nav>
					</div>
				</div>
			</div>
		<!-- Blog -->
		<div class="blog">
			<div class="container">
				<div class="blog-content">
					<div class="container">
						<div class="blog-content-left">
							<div class="blog-articals">
								<div class="blog-artical">
									<div class="blog-artical-basicinfo">
										<ul>
											<li class="post-date"><p><span>Mixly</span><label>软件介绍</label></p></li>
											<div class="clearfix"> </div>
										</ul>
									</div>
									<div class="blog-artical-info">
										<ul class="product-head">
											<li><a href="index.html">Mixly软件介绍</a> <span></span></li>
											<div class="clear"> </div>
										</ul>


										<div class="blog-artical-info-img">
											<a href="blog-inner.html" class="mask"><img src="../../static/assets/images/blog1.jpg" alt="image" class="img-responsive zoom-img"></a>
										</div>
										<div class="blog-artical-info-head">
											<h2><a href="blog-inner.html">Mixly:青少年编程。。。 </a></h2>

										</div>
										<div class="blog-artical-info-text">
											<p>介绍mixly。。。</p>

										</div>
									</div>
									<div class="clearfix"> </div>
								</div>

								<div class="blog-artical">
									<div class="blog-artical-basicinfo">
										<ul>
											<li class="post-date"><p><span>Mixly</span><label>软件下载</label></p></li>
											<div class="clearfix"> </div>
										</ul>
									</div>
									<div class="blog-artical-info">
										<ul class="product-head">
											<li><a href="index.html">Mixly软件下载</a> <span></span></li>
											<div class="clear"> </div>
										</ul>
										<div class="blog-artical-info-img">
											<a href="blog-inner.html" class="mask"><img src="../../static/assets/images/blog3.jpg" alt="image" class="img-responsive zoom-img"></a>
										</div>
										<div class="blog-artical-info-head">
											<h2><a href="blog-inner.html">配合Mixly使用手册可以更快速的掌握Mixly </a></h2>
											<ul>

												<li><span class="tag"> </span><a href="#">点此获取Mixly使用手册</a></li>
												<div class="clearfix"> </div>
											</ul>
										</div>

									</div>
									<div class="clearfix"> </div>
								</div>
							</div>
							<!--start-blog-pagenate-->

							<!--//End-blog-pagenate-->
						</div>



						</div>
					</div>
				</div>
				<!-- /Blog -->
			</div>
			<!--/start-footer-->
			<div class="footer">
				<div class="container">
					<div class="footer-content">
						<div class="col-md-3 footer-grid-copy-right">
							<div class="logo-2">
								<a href="index.html"><img src="../../static/assets/images/logo2.png" alt=""></a>
							</div>

						</div>
						<div class="col-md-3 footer-grid">
							<h3>Information</h3>
							<ul class="bottom-nav">
								<li class="active"><a href="index">主页</a></li>
								<li><a href="about"> 关于大赛  </a></li>
								<li><a href="ziliao"> Mixly开源资料库</a></li>
								<li><a href="chuangke"> 创客空间</a></li>
								<li><a href="login">注册/登录</a></li>
								<div class="clearfix"> </div>

							</ul>
						</div>


					</div>

					<div class="col-md-3 footer-grid">
						<h3>组织结构</h3>
						<ul class="soc_icons2">
							<li><a href="#"><i class="icon_4"></i><span>青协</span></a></li>
							<li><a href="#"><i class="icon_5"></i><span>太极熊</span></a></li>

						</ul>

					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		<!--//End-footer-->

		<script type="text/javascript">
			$(document).ready(function() {
				/*
                var defaults = {
                      containerID: 'toTop', // fading element id
                    containerHoverID: 'toTopHover', // fading element hover id
                    scrollSpeed: 1200,
                    easingType: 'linear'
                 };
                */

				$().UItoTop({ easingType: 'easeOutQuart' });

			});
		</script>
		<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>



	</body>
</html>