<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>账号注册</title>

        <!-- CSS -->
        <link rel="stylesheet" href="../../static/assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../static/assets/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="../../static/assets/css/zhuceform-elements.css">
        <link rel="stylesheet" href="../../static/assets/css/zhucestyle.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="../../static/assets/ico/favicon.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../../static/assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../../static/assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../../static/assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="../../static/assets/ico/apple-touch-icon-57-precomposed.png">

    </head>

    <body>

        <!-- Top content -->
        <div class="top-content">
            
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1><strong>账号注册</strong></h1>
                            <div class="description">
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                            <div class="form-top">
                                <div class="form-top-left">
                                    <h3>请在文本栏内填入相应信息</h3>
                                    <p></p>
                                </div>
                                <div class="form-top-right">
                                    <i class="fa fa-lock"></i>
                                </div>
                            </div>
                            <div class="form-bottom" style="text-align: right">
                                <form role="form" action="" method="post" class="login-form">
                                    <div class="form-group">
                                        姓名:<input type="text" name="username" placeholder="姓名..." class="form-username">
                                    </div>
                                    <div class="form-group" style="text-align: left">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;性别:<input name="Fruit" style="width: 50px" type="radio" value="" />男&nbsp;&nbsp;
                                        <input name="Fruit" style="width: 50px" type="radio" value="" />女
                                    </div>
                                    <div class="form-group">
                                        身份证号:<input type="text" name="username" placeholder="身份证号码..." class="form-username">
                                    </div>
                                    <div class="form-group">
                                        手机号:<input type="text" name="username" placeholder="手机号..." class="form-username">
                                    </div>
                                    <div class="form-group">
                                        资格证:<input type="text" name="username" placeholder="(请填入教师资格证编号)..." class="form-username">
                                    </div>
                                    <div class="form-group">
                                        教师职称:<input type="text" name="username" placeholder="(如正高级、高级、一级、二级、三级等)..." class="form-username">
                                    </div>
                                    <div class="form-group">
                                        学校名称:<input type="text" name="username" placeholder="(请输入学校名字全称)..." class="form-username">
                                    </div>
                                    <div class="form-group">
                                        账号密码:<input type="password" name="password" placeholder="密码..." class="form-password">
                                    </div>
                                    <div class="form-group">
                                        确认密码:<input type="password" name="password" placeholder="(再次输入密码进行确认)..." class="form-password">
                                    </div>
                                    <div class="form-group">
                                        邮箱地址:<input type="text" name="username" placeholder="邮箱地址..." class="form-username">
                                    </div>
                                    <div class="form-group">
                                        验证码:<input type="text" style="width: 205px" name="username" placeholder="请输入邮箱验证码..." class="form-username">
                                        <button style=" width: 200px; background-color: #67b168" class="btn">获取邮箱验证码</button>
                                    </div>
                                    <button type="submit" class="btn">学生注册</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            
        </div>


        <!-- Javascript -->
        <script src="../../static/assets/js/jquery-1.11.1.min.js"></script>
        <script src="../../static/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="../../static/assets/js/jquery.backstretch.min.js"></script>
        <script src="../../static/assets/js/scripts.js"></script>
        <script src="../../static/assets/js/html5shiv.js"></script>
        <script src="../../static/assets/js/respond.min.js"></script>
        <!--[if lt IE 10]>
        <script src="../../static/assets/js/placeholder.js"></script>
        <![endif]-->

    </body>

</html>