<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<!--suppress ALL-->
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>账号注册</title>

        <!-- CSS -->
        <link rel="stylesheet" href="../../static/assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../static/assets/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="../../static/assets/css/zhuceform-elements.css">
        <link rel="stylesheet" href="../../static/assets/css/zhucestyle.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="../../static/assets/ico/favicon.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../../static/assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../../static/assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../../static/assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="../../static/assets/ico/apple-touch-icon-57-precomposed.png">

    </head>

    <body>
    <!-- 邮箱已被注册 -->
    <div id="myAlert1" th:if="${mailError!=null}" class="alert alert-warning">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>警告！</strong><strong th:text="${mailError}"></strong>
    </div>
    <!-- 验证码有误 -->
    <div id="myAlert2" th:if="${codeError!=null}" class="alert alert-warning">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>警告！</strong><strong th:text="${codeError}"></strong>
    </div>
    <!-- 系统错误 -->
    <div id="myAlert4" th:if="${systemError!=null}" class="alert alert-warning">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>警告！</strong><strong th:text="${systemError}"></strong>
    </div>

        <!-- Top content -->
        <div class="top-content">
            
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1><strong>账号注册</strong></h1>
                            <div class="description">
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                            <div class="form-top">
                                <div class="form-top-left">
                                    <h3>请在文本栏内填入相应信息</h3>
                                    <p></p>
                                </div>
                                <div class="form-top-right">
                                    <i class="fa fa-lock"></i>
                                </div>
                            </div>
                            <div class="form-bottom" style="text-align: right">
                                <form class="login-form" role="form" th:action="@{/jzhucetijiao}"
                                      th:object="${teacher}"  method="post">
                                    <div class="form-group">
                                        姓名:<input type="text" name="TeacherName" placeholder="姓名..."
                                               th:value="*{TeacherName}" class="form-username">
                                    </div>
                                    <div class="form-group" style="text-align: left">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;性别:
                                        <input name="TeacherGender" value="男" style="width: 50px" type="radio"
                                               th:field="*{TeacherGender}"/>男&nbsp;&nbsp;
                                        <input name="TeacherGender" value="女" style="width: 50px" type="radio"
                                               th:field="*{TeacherGender}" />女
                                    </div>
                                    <div class="form-group">
                                        身份证号:<input type="text" name="TeacherIdentify" placeholder="身份证号码..."
                                                    th:value="*{TeacherIdentify}" class="form-username">
                                    </div>
                                    <div class="form-group">
                                        手机号:<input type="text" name="TeacherTel" placeholder="手机号..."
                                                   th:value="*{TeacherTel}" class="form-username">
                                    </div>
                                    <div class="form-group">
                                        资格证:<input type="text" name="TeacherCertificationID" placeholder="(请填入教师资格证编号)..."
                                                   th:value="*{TeacherCertificationID}" class="form-username">
                                    </div>
                                    <div class="form-group">
                                        学校名称:<input type="text" name="TeacherSchool" placeholder="(请输入学校名字全称)..."
                                                    th:value="*{TeacherSchool}" class="form-username">
                                    </div>
                                    <div class="form-group">
                                        账号密码:<input type="password" name="TeacherPassword" placeholder="密码..."
                                                    th:value="*{TeacherPassword}" class="form-password">
                                    </div>
                                    <div class="form-group">
                                        确认密码:<input type="password" name="ConfirmPassword" placeholder="(再次输入密码进行确认)..."
                                                    class="form-password">
                                    </div>
                                    <div class="form-group">
                                        邮箱地址:<input type="text" name="TeacherEmail" placeholder="邮箱地址..."
                                                            th:value="*{TeacherEmail}" class="form-username">
                                    </div>

                                    <div class="form-group">
                                        验证码:<input type="text" style="width: 205px" name="code"
                                                   th:value="${code}" placeholder="请输入邮箱验证码..." class="form-username">
                                        <button type="button" style="width: 200px; background-color: #67b168"
                                                id="getcode" class="btn">获取邮箱验证码</button>
                                    </div>
                                    <button type="submit" class="btn" >教师注册</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            
        </div>


        <!-- Javascript -->
        <script src="../../static/assets/js/jquery-1.11.1.min.js"></script>
        <script src="../../static/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="../../static/assets/js/jquery.backstretch.min.js"></script>
        <script src="../../static/assets/js/scripts.js"></script>
        <script src="../../static/assets/js/html5shiv.js"></script>
        <script src="../../static/assets/js/respond.min.js"></script>
        <script src="../../static/assets/js/jquery.cookie.js"></script>
        <!--[if lt IE 10]>
        <script src="../../static/assets/js/placeholder.js"></script>
        <![endif]-->
        <script type="text/javascript" th:inline="javascript">
            $("#getcode").click(function(){
                txt=$("input[name$='TeacherEmail']").val();
                $.post("getverifycode",{email:txt});
                var time = 60;
                settime($(this));
                function settime(obj){
                    if (time==0) {
                        $(obj).attr('disabled', false);
                        $(obj).html("点击获取验证码");
                        time = 60;
                        return;
                    } else{
                        $(obj).attr('disabled', true);
                        $(obj).html(time+"秒后重新发送");
                        time--;
                    }
                    setTimeout(function() {
                        settime(obj)
                    },1000)
                }
                //$.cookie('email', txt);
            });
        </script>
    </body>

</html>